// ================
// Alternative Tabs
// ================
.alterna-tabs {
  > li {
    border-bottom: $ws-alterna-tabs-border-size solid transparent;
    border-top: 0;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.active {
      border-bottom: $ws-alterna-tabs-border-size solid $ws-alterna-tabs-active-color;
      border-top: 0;
      color: $ws-alterna-tabs-active-font-color;

      a {
        &:hover,
        &:focus,
        &:hover,
        &:focus {
          background: none;
        }
      }
    }

    > a {
      border: 0;
      border-bottom-color: transparent;
      border-radius: 0;
      color: darken($color-mine-shaft, 3.5);
      line-height: $ws-alterna-tabs-line-height;
      padding-left: 0;
      padding-right: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &.active > a, 
    &.active > a:hover, 
    &.active > a:focus {
      background: none;
      border: 0;
      border-bottom-color: transparent;
      color: darken($color-mine-shaft, 3.5);
      cursor: default;
    }
  }
}
