.alterna-tabs {
  > li {
    border-bottom: 5px solid transparent;
    border-top: 0;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.active {
      border-bottom: 5px solid $asu-maroon;
      border-top: 0;
      color: $asu-gray-darker;

      a {
        border-bottom-color: transparent;

        &:hover,
        &:focus,
        &:hover,
        &:focus {
          background: none;
        }
      }
    }

    > a {
      border: 0;
      border-bottom-color: transparent;
      border-radius: 0;
      color: $asu-gray-darker;
      line-height: 1.44;
      padding-left: 0;
      padding-right: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &.active > a, 
    &.active > a:hover, 
    &.active > a:focus {
      background: none;
      border: 0;
      border-bottom-color: transparent;
      color: $asu-gray-darker;
      cursor: default;
    }
  }
}
