// Breadcrumbs
// 
// Breadcrumbs are supported, but when using WordPress, do not generate
// them by hand.
// 
// <ol class="breadcrumb">
//   <li><a href="#">Home</a></li>
//   <li><a href="#">Library</a></li>
//   <li class="active">Data</li>
// </ol>
//
// Styleguide 4
.breadcrumb {
  background-color: transparent;
  font-size: $font-size-small;
  margin-bottom: (2 * $space-xxlarge);
  margin-top: $space-xxlarge;
  padding: 0;

  > li + li:before {
    color: $color-gray;
  }  

  > li > a {
    border-bottom: 0;
  }

  > .active {
    color: $color-gray;
  }
}
