// == breadcrumb
.breadcrumb {
  background-color: transparent;
  font-size: $font-size-small;
  margin-bottom: (2 * $space-xxlarge);
  margin-top: $space-xxlarge;
  padding: 0;

  > li + li:before {
    color: #828282;
  }  

  > li > a {
    border-bottom: 0;
  }

  > .active {
    color: #828282;
  }
}
