// ========
// Calendar
// ========
.calendar-group {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.calendar-date {
  background-color: $ws-calendar-date-bg;
  border: 1px solid $ws-calendar-date-border;
  border-radius: 4px;
  color: $ws-calendar-date-text;
  cursor: default;
  display: block;
  float: left;
  margin: 0 30px 24px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 125px;

  &:hover {
    @include box-shadow(0 0 10px $ws-calendar-date-hover-box-shadow);
    border: 1px solid $ws-calendar-date-hover-border;
  }

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

  &.last {
    margin-right: 0;
  }

  + .popover {
    white-space: nowrap;
  }

  .weekday {
    background-color: $ws-calendar-date-weekday-bg;
    border: 1px solid $ws-calendar-date-weekday-border;
    border-radius: 4px;
    float: left;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 5px;
    padding: 3px 7px;
  }

  .month {
    float: left;
    font-size: 13px;
    line-height: 1;
    padding: 3px 7px;
  }

  .date {
    float: right;
    font-size: 50px;
    font-weight: 200;
    line-height: .9;
    width: 60px;
  }
}
