//== Calendar

.calendar-group {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.calendar-date {
  border-radius: 4px;
  cursor: default;
  display: block;
  float: left;
  margin: 0 30px 24px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 125px;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

  &.last {
    margin-right: 0;
  }

  + .popover {
    white-space: nowrap;
  }

  .weekday {
    border-radius: 4px;
    float: left;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 5px;
    padding: 3px 7px;
  }

  .month {
    float: left;
    font-size: 13px;
    line-height: 1;
    padding: 3px 7px;
  }

  .date {
    float: right;
    font-size: 50px;
    font-weight: 200;
    line-height: .9;
    width: 60px;
  }
}
