// Footer
//
// The footer is made up of three pars, `big-foot`, `little-foot`, and the `innovation-bar`
//
// Styleguide footer

// TODO verify these paddings and margins when the HUB finalizing the
// details
.footer {
  p {
    color: $color-white;
  }

  h1 {
    color: $color-white;
    font-size: $font-size-medium;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  h2 {
    color: $color-white;
    font-size: $footer-h2__font-size;
    font-weight: normal;
    margin-bottom: 16px;
  }

  a:not(.btn),
  address,
  .phone-link {
    border-bottom-color: $color-silver;
    color: $color-silver;
    margin-bottom: 0;
  }

  .contact-link {
    border-bottom-color: $color-dull-chalice;
    border-bottom-style: dotted;
    border-bottom-width: $space-xsmall;
    color: $color-dull-chalice;

    &:hover,
    &:focus {
      color: $color-white;
    }
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    &:before,
    &:after {
      content: ' ';
      display: table;
    }

    &:after {
      clear: both;
    }

    > li {
      display: block;
      position: relative;

      > a {
        position: relative;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  // ====================
  // Social Media Section
  // ====================
  .social-media {
    margin-bottom: 30px;

    > li {
      float: left;

      > a {
        border-bottom: 0;
        color:         $color-dull-chalice;
        font-size:     $footer-social__font-size;
        margin-right:  10px;

        &:hover,
        &:focus {
          color: $color-white;
        }
      }
    }

    > li:last-child > a {
      margin-right: 0;
    }
  }

  // ==========
  // Big Footer
  // ==========
  .big-foot {
    background-color: $color-cod-gray;
    color: $color-white;
    padding-bottom: 14px;
    padding-top: 40px;

    img {
      max-width: 300px;
    }
  }

  .big-foot-nav {
    > li {
      margin-bottom: 12px;

      > a {
        border-bottom: 1px dotted;
        border-bottom-color: $color-silver;
        color: $color-silver;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $color-white;
        }
      }
    }
  }

// little foot
//
// Markup:
// <div class="little-foot">
//   <div class="container">
//     <div class="row">
//       <div class="col-md-12">
//         <div class="little-foot__right">
//           <ul class="little-foot-nav">
//             <li><a href="http://www.asu.edu/copyright/" id="copyright-trademark-legal-footer">Copyright &amp; Trademark</a></li>
//             <li><a href="http://www.asu.edu/accessibility/" id="accessibility-legal-footer">Accessibility</a></li>
//             <li><a href="http://www.asu.edu/privacy/" id="privacy-legal-footer">Privacy</a></li>
//             <li><a href="http://www.asu.edu/asujobs" id="jobs-legal-footer">Jobs</a></li>
//             <li><a href="https://cfo.asu.edu/emergency" id="emergency-legal-footer">Emergency</a></li>
//             <li><a href="https://contact.asu.edu/" id="contact-asu-legal-footer">Contact ASU</a></li>
//           </ul>
//         </div>
//       </div>
//     </div><!-- /.row -->
//   </div><!-- /.container -->
// </div><!-- /.little-foot -->
//
// Styleguide footer.little-foot

  .little-foot {
    background-color: $color-mercury;
    padding-bottom: 0;
    padding-top: 0;
  }

  .little-foot-nav {
    > li {
      float: left;
      padding-bottom: 12px;

      > a {
        color: #333;
        font-size: $footer-little-link__font-size;
        font-weight: 400;
        margin-right: 30px;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $color-dove-gray;
        }
      }
    }

    > li:last-child > a {
      margin-right: 0;
    }
  }
}

.little-foot__innovate-image-wrapper img {
  max-width: 87%;
  padding-top: 6px;

  @media (max-width: $asu-screen-sm-max) {
    display: none;
  }
}

.little-foot__right {
  padding: 15px 10px;
}

.little-foot__right__innovate {
  font-size: $little-foot__right__innovate__font-size;
  font-weight: 700;

  @media(max-width: $asu-screen-xs-max) {
    font-size: $little-foot__right__innovate__font-size--small;
  }

  a {
    border-bottom: 0;
    color: #a30046 !important;
    font-size: $little-foot__right__innovate__font-size !important;
    font-weight: 700 !important;
    text-decoration: none;

    &:hover {
      color: $color-dove-gray;
    }
  }
}

@media (max-width: 991px) {
  .footer h2 {
    cursor: pointer;
  }
}


// Innovation bar
//
// Markup:
// <div id="innovation-bar">
//   <div class="container">
//     <div class="row">
//       <div class="col-md-10 space-top-sm space-bot-sm">
//         <a href="http://yourfuture.asu.edu/rankings" target="_blank" id="asu-is-number-1-for-innovation">ASU is #1 in the U.S. for Innovation</a>
//       </div>
//       <div class="hidden-sm hidden-xs col-md-2 innovation-footer-image-wrapper">
//          <a href="http://yourfuture.asu.edu/rankings" target="_blank" id="best-colleges-us-news-bage-icon">
//           <img src="../img/footer/best-colleges-us-news-badge.png" alt="Best Colleges U.S. News Most Innovative 2016">
//         </a>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide footer.innovation-bar

#innovation-bar {
  background-color: $color-gold;
  text-align: right;

  a {
    border-bottom: 0;
    color: black;
    font-size: x-large;
    font-weight: 700;
  }

  a:hover {
    border-bottom: dotted 1px;
    color: $color-maroon;
  }

  .innovation-footer-image-wrapper {
    height: 0;

    a {
      border: 0;
      display: inline-block;
      height: 150px;
      margin-top: -55px;
      text-decoration: none;
    }
  }
}
