// ======
// Footer
// ======
.footer {
  p {
    color: $ws-footer-font-color;
  }

  h1 {
    color: $ws-footer-font-color;
    font-size: $ws-footer-font-size;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  h2 {
    color: $ws-footer-font-color;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 16px;
  }

  a:not(.btn),
  address,
  .phone-link {
    border-bottom-color: $ws-footer-link-color;
    color: $ws-footer-link-color;
    margin-bottom: 0;
  }

  .contact-link {
    border-bottom-color: $ws-footer-social-link-text;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: $ws-footer-social-link-text;

    &:hover,
    &:focus {
      color: $ws-footer-social-link-focus-text;
    }
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    &:before,
    &:after {
      content: ' ';
      display: table;
    }

    &:after {
      clear: both;
    }

    > li {
      display: block;
      position: relative;

      > a {
        position: relative;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  // ====================
  // Social Media Section
  // ====================
  .social-media {
    margin-bottom: 30px;

    > li {
      float: left;

      > a {
        border-bottom: 0;
        color: $ws-footer-social-link-text;
        font-size: 38px;
        margin-right: 10px;

        &:hover,
        &:focus {
          color: $ws-footer-social-link-focus-text;
        }
      }
    }

    > li:last-child > a {
      margin-right: 0;
    }
  }

  // ==========
  // Big Footer
  // ==========
  .big-foot {
    background-color: $ws-big-foot-bg;
    padding-bottom: 14px;
    padding-top: 40px;

    img {
      max-width: 300px;
    }
  }

  .big-foot-nav {
    > li {
      margin-bottom: 12px;

      > a {
        border-bottom: 1px dotted;
        border-bottom-color: $ws-big-foot-nav-link-border;
        color: $ws-big-foot-nav-link-text;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $ws-big-foot-nav-link-focus-text;
        }
      }
    }
  }

  .little-foot {
    background-color: $ws-little-foot-bg;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .little-foot-nav {
    > li {
      float: left;
      padding-bottom: 12px;

      > a {
        border-bottom: 0;
        color: #333;
        margin-right: 30px;

        &:hover,
        &:focus {
          color: $ws-little-foot-focus-text;
        }
      }
    }

    > li:last-child > a {
      margin-right: 0;
    }
  }
}

@media (max-width: 991px) {
  .footer h2 {
    cursor: pointer;
  }
}
