//== Forms

::-webkit-input-placeholder {
  color: #7f7f7f;
  font-weight: 200;
}

:-moz-placeholder {
  color: #7f7f7f;
  font-weight: 200;
}

::-moz-placeholder {
  color: #7f7f7f;
  font-weight: 200;
}

:-ms-input-placeholder {
  color: #7f7f7f;
  font-weight: 200;
}

legend {
  font-size: $line-height-computed;
  margin-bottom: $line-height-computed;
}

label {
  font-size: 14px;
  font-weight: normal;
}

output {
  color: $color-emperor;
  font-size: 16px;
  line-height: $line-height-base;
}

.form-control {
  @include box-shadow(inset 1px 2px 9px rgba(213, 213, 213, .5));

  border: 1px solid $color-silver-chalice;
  color: $color-emperor;
  font-size: 16px;
  font-weight: 200;
  height: 38px;
  line-height: $line-height-base; 
}

.form-control:focus {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(3, 141, 213, .6));
  border-color: #038dd5; 
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 38px; 
  // IE8+ misaligns the text within date inputs, so we reset
  line-height: $line-height-base #{\0};

  &.input-sm {
    line-height: $asu-input-height-small;
  }

  &.input-lg {
    line-height: $asu-input-height-large;
  } 
}

.radio, 
.checkbox {
  margin-bottom: 6px;
  margin-top: 6px;
  min-height: 24px;

  .inline {
    display: inline-block;
    margin-right: 20px;
  }
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.

@include input-size(
  '.input-sm', 
  $asu-input-height-small, 
  $space-base, 
  $space-large, 
  $font-size-small, 
  $line-height-small, 
  $asu-border-radius-small);

@include input-size(
  '.input-lg', 
  $asu-input-height-large, 
  $space-large, 
  $space-xxlarge, 
  $font-size-large, 
  $line-height-large, 
  $asu-border-radius-large);

.has-feedback {
  .form-control {
    padding-right: 47.5px;
  }
}

.form-control-feedback {
  height: 38px;
  line-height: 38px;
  top: 29px;
  width: 38px;
}

.input-lg + .form-control-feedback {
  height: $asu-input-height-large;
  line-height: $asu-input-height-large;
  width: $asu-input-height-large;
}

.input-sm + .form-control-feedback {
  height: $asu-input-height-small;
  line-height: $asu-input-height-small;
  width: $asu-input-height-small;
}

// Feedback states
.has-success {
  @include form-control-validation(
    $asu-state-success-text, 
    $asu-state-success-text, 
    $asu-state-success-bg);
}

.has-warning {
  @include form-control-validation(
    $asu-state-warning-text, 
    $asu-state-warning-text, 
    $asu-state-warning-bg);
}

.has-error {
  @include form-control-validation(
    $asu-state-danger-text, 
    $asu-state-danger-text, 
    $asu-state-danger-bg);
}

.help-block {
  color: #6a6a6a;
}

.form-horizontal {
  .radio,
  .checkbox {
    min-height: 31px;
  }

  .form-group-lg .control-label { 
    @media (min-width: 768px) { 
      padding-top: 16.96px;
    }
  }
}

//== Special inputs
.radio,
.checkbox {
  margin-bottom: 12px;

  .outer-wrap {
    background-color: white;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 28px;
  }

  label {
    font-size: 16px;
    font-weight: 200;
    padding-left: 0;
  }

  .fa-circle, 
  .fa-check {
    color: white;
    font-size: 23px;
    position: absolute;

    @media (min-width: 1200px) {
      top: 4px;
    }
  }

  .fa-circle {
    left: 4px;
    top: 3px;
  }

  .fa-check {
    left: 3px;
    top: 3px;
  }
}

//=== Radio
.radio {
  input[type="radio"] {
    display: none;

    &:checked + .outer-wrap > .fa-circle {
      color: #505050;
    }
  }

  .outer-wrap,
  .fa-circle {
    border-radius: 50%;
  }
}

//=== Checkbox
.checkbox {
  input[type="checkbox"] {
    display: none;

    &:checked + .outer-wrap > .fa-check {
      color: #505050;
    }
  }

  .outer-wrap {
    border-radius: 4px;
  }

  &[type="radio"],
  &[type="checkbox"] {
    &[disabled],
    &.disabled {
      + .outer-wrap,
      + .outer-wrap > .fa-circle {
        cursor: not-allowed;
        opacity: .5;
      }
    }
  }
}
