// ====
// Hero
// ====
.hero {
  background-color: $ws-hero-bg;
  padding: 30px 0 60px;

  @media (min-width: $asu-screen-sm-min) {
    padding-top: 90px;
  }

  h1,
  h2,
  .h1,
  .h2 {
    font-size: 38px;
    letter-spacing: -1px;
    word-wrap: break-word;

    @media (min-width: $asu-screen-sm-min) {
      font-size: 48px;
    }
  }

  h1,
  h2,
  p {
    &.pop {
      background-color: rgba(0, 0, 0, .8);
      /* 
       * table is a little trick to have an inline-block look, but
       * still break after each block
       */
      display: table;
      padding: 10px;

      &:after {
        clear: both;
        content: ' ';
      }
    }
  }

  img {
    border: 1px solid $ws-hero-img-border;
  }
}

// ===========
// Hero Images
// ===========
.hero-bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 350px;

  h1,
  h2,
  .h1, 
  .h2 {
    color: $ws-hero-font-color;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);

    @media (min-width: $asu-screen-sm-min) {
      font-size: 60px;
    }
  }

  p {
    color: $ws-hero-font-color;
    font-size: 24px;
    font-weight: 900;
    max-width: 900px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5); 
  }

  .cite {
    color: $ws-hero-font-color;
    font-weight: bold;
    margin-bottom: 1.3em;
  }

  &.hero-programs,
  &.hero-action-call,
  &.hero-degrees {
    // Example:
    // background-image: url('../img/hero-background-1.jpg');
    // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-1.jpg', sizingMethod='scale')";
    // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-1.jpg', sizingMethod='scale');
  }
}

// ==============
// Text Only Hero
// ==============
.hero-text-only {
  text-align: center;

  p {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// ===================
// Dark Text Only Hero
// ===================
.hero-text-only-dark {
  background-color: $ws-hero-dark-bg;
  text-align: center;

  h1,
  h2 {
    color: $ws-hero-font-color;
  }

  p {
    color: $ws-hero-font-color;
  }
}

// ==========
// Video Hero
// ==========
.hero-video {
  overflow: hidden;
  padding: 0;
  position: relative;

  @media (min-width: $asu-screen-sm-min) {
    min-height: 500px;
  }

  video {
    height: inherit !important;
    max-width: 100%;
    width: 100% !important;

    @media (min-width: $asu-screen-sm-min) {
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }

  > .container {
    @media (min-width: $asu-screen-sm-min) {
      bottom: 10px;
      position: absolute;
      z-index: 12;
    }
  }
}
