// Jumbotron
// 
// A lightweight, flexible component that can optionally extend the entire 
// viewport to showcase key content on your site.
// 
// <div class="jumbotron">
//   <h1>Hello, world!</h1>
//   <p>...</p>
//   <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
// </div>
// 
// Styleguide 10
.jumbotron {
  p {
    font-size: $font-size-small;
  }

  .container & {
    border-radius: $border-radius;
  }

  @media screen and (min-width: 768px) {
    h1,
    .h1 {
      font-size: $font-size-h1;
    }
  }
}

