//== List groups

.list-group-item {
  border: 0;
  border-top: 1px solid #d7d7d7;
  font-weight: normal;
  padding: 10px 5px;

  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  &:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.active {
    &, 
    &:hover, 
    &:focus {
      background-color: white;
      border-color: #d7d7d7;
      color: $asu-brand-primary;
      font-weight: bold;

      .list-group-item-text {
        color: white;
      }
    }
  }
}

a.list-group-item {
  border-bottom: 0;
  color: $asu-brand-primary;

  .list-group-item-heading {
    color: $asu-brand-primary;
  }

  &:hover,
  &:focus {
    color: $asu-brand-primary;
    font-weight: bold;
  }
}

@include list-group-item-variant(success, 
  $asu-state-success-bg, 
  $asu-state-success-text);
@include list-group-item-variant(info, 
  $asu-state-info-bg, 
  $asu-state-info-text);
@include list-group-item-variant(warning, 
  $asu-state-warning-bg, 
  $asu-state-warning-text);
@include list-group-item-variant(danger, 
  $asu-state-danger-bg, 
  $asu-state-danger-text);


.inline-link-list {
  list-style: none;
  padding-left: 0;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

  li {
    float: left;

    &:after {
      content: '|';
      font-weight: normal;
      margin: 0 5px;
    }

    &:last-child:after {
      display: none;
    }
  }
}
