//== Mega Menu

.mega-menu {
  &.open > .dropdown-menu {
    border-width: 1px;
  }

  &.dropdown {
    position: static;
  }

  .dropdown-menu {

    border-width: 0;
    margin-top: -1px;
    position: static;
    width: 100%;

    @media (min-width: 992px) {
      left: 50%;
      margin-left: -470px;
      position: absolute;
      width: 940px;
    }

    @media (min-width: 1200px) {
      margin-left: -570px;
      width: 1140px;
    }

    .row {
      display: table-row;

      .column {
        display: table-cell;
        float: none;
      }
    }

    > .row > .column {
      > li > a {
        border-bottom: 0;
        clear: both;
        display: block;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4;
        padding: 9px 10px 10px;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      > .active > a {
        &,
        &:hover,
        &:focus {
          outline: 0;
          text-decoration: none;
        }
      }
    }
  }

  .dropdown-title {
    border-bottom: 0;
    clear: both;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 9px 10px 10px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .vertical-border-right {
    border-right: 1px solid;
  }
}
