//== Navigation
.nav {
  > li > a { 
    border-bottom: 0;
  }

  .open > a {
    &,
    &:hover,
    &:focus { 
      border-color: $asu-maroon;
    }
  }

  .nav-divider { 
    margin: 11px 0;
  }
}

.nav-tabs > li {
  border-top: 5px solid transparent;

  > a {
    border: 1px solid #d7d7d7;
    border-bottom-color: transparent;
    border-radius: 0;
    color: #a7a7a7;
    line-height: $asu-line-height-base;
    margin-right: 0;
  }

  &:hover,
  &.active {
    border-top: 5px solid $asu-maroon;

    > a {
      border-top-color: transparent;
    }
  }

  &.active > a {
    &,
    &:hover,
    &:focus {
      color: $asu-maroon;
    }
  }
}

.nav-pills > li.active > a {
  &,
  &:hover,
  &:focus {
    background-color: $asu-maroon;
  }
}

.nav-justified,
.nav-tabs.nav-justified,
.alterna-tabs.nav-justified { 
  width: 100%; 

  > li {
    float: none;

    > a {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}

.nav-tabs-justified,
.nav-tabs.nav-justified,
.alterna-tabs.nav-justified {  
  border-bottom: 0;

  > li > a {
    border-radius: 4px;
    margin-right: 0;
  }

  > .active > a {
    &,
    :hover,
    &:focus {
      border: 1px solid #ddd;
    }
  }

  @media (min-width: 991px) {
    > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }

    > .active > a {
      &,
      :hover,
      &:focus {
        border-bottom-color: white;
      }
    }
  }
}

.tab-content {
  padding: 24px;
}

.navbar {
  border-color: transparent;
  margin-bottom: 0;
  min-height: 46px;

  > .container {
    .navbar-brand {
      @media (min-width: 768px) {
        margin-left: 0;
      }

      @media (min-width: 991px) {
        margin-left: -15px;
      }
    }
  }
}

.container,
.container-fluid {
  > {
    .navbar-header,
    .navbar-collapse {
      margin-left: 0;
      margin-right: 0;

      &.collapse {
        // Order here matters! 768 then 991
        @media (min-width: 768px) {
          display: none !important;

          &.in {
            display: block !important;
          }
        }

        @media (min-width: 991px) {
          display: block !important;
        }
      }

      @media (min-width: 991px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .navbar-header {
      @media (min-width: 768px) {
        float: none;
      }

      @media (min-width: 991px) {
        display: none;
        float: left;
      }
    }
  }
}

.navbar-brand {
  border-bottom: 0;
  font-size: $asu-font-size-large;
  padding: ($asu-padding-large-vertical + 1) 15px;

  &:focus,
  &:hover {
    border-bottom: 0;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.navbar-nav { 
  margin: 1px -15px; 

  @media (min-width: 768px) {
    float: none;
  }

  @media (min-width: 991px) {
    float: left;
    margin: 0;
  }

  > li {
    @media (min-width: 768px) {
      float: none;
    }

    @media (min-width: 991px) {
      float: left;
    }

    > a { 
      line-height: $asu-line-height-computed;

      @media (min-width: $asu-screen-sm) {
        padding-bottom: 13px; 
        padding-top: 13px; 
      }
    }
  }

  .open .dropdown-menu {
    @media (max-width: 991px) {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      float: none;
      margin-top: 0;
      position: static;
      width: auto;
    }

    > li > a, 
    .dropdown-header {
      @media (max-width: 991px) {
        white-space: normal;
      }
    }

    > li > a { 
      @media (max-width: $asu-screen-sm) {
        line-height: inherit;   
      }
    }
  }
}


.navbar-form {
  margin-bottom: $asu-padding-base-vertical;
  margin-top: $asu-padding-base-vertical;
}

.navbar-btn {
  margin-bottom: $asu-padding-base-vertical;
  margin-top: $asu-padding-base-vertical;

  &.btn-sm,
  .btn-group-sm > &.btn {
    margin-bottom: 8.5px;
    margin-top: 8.5px;
  }
}

.navbar-text {
  margin-bottom: 13px;
  margin-top: 13px;
}

//== Custom Navbar (webspark)

.navbar-ws {
  border: 0;
  border-radius: 0;

  .container {
    padding-left: 0;
    padding-right: 0;

    @media (max-width: 991px) {
      // Not being used by official standards yet.
      //width: 100%;
    }
  }

  .navbar-nav > {
    li > a {
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      padding: 20px;

      @media (min-width: 1200px) {
        padding: 20px 25px;
      }
    }
  }

  .navbar-brand {
    font-size: 16px;
    height: auto;
    overflow: hidden;
    padding-right: 0;
    width: calc(100% - 60px);
  }

  .navbar-toggle {
    border: 0;

    @media (min-width: 768px) {
      display: block;
    }

    @media (min-width: 991px) {
      display: none;
    }
  }

  .dropdown-menu {
    border: 1px solid;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    margin: 0;
    max-height: 0;
    min-width: 160px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    

    @media (min-width: 991px) {
      position: absolute;
      width: auto;
    }

    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
    }

    > li > a {
      font-size: 15px;
      font-weight: normal;
      line-height: 1;
      padding: 9px 25px 10px;

      &:hover,
      &:focus {
        border: 0;
        text-decoration: none;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        outline: 0;
        text-decoration: none;
      }
    }
  }

  .open > .dropdown-menu {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    max-height: 2000px;
    padding: 10px 0;
  }
}

//== Sidebar nav
.sidebar-nav {
  border-top: 8px solid;
  margin-bottom: 24px;
  padding: 30px;
  position: relative;

  &:before {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  :last-child {
    margin-bottom: 0;
  }

  &.affix {
    position: relative;
    width: 100%;

    @media (min-width: 992px) {
      position: fixed;
      top: 24px;
      width: 293px;
    }

    @media (min-width: 1200px) {
      width: 360px;
    }
  }
}

//== Site Name Desktop
#site-name-desktop {
  h1 {
    line-height: ($asu-line-height-computed + 4);
    padding: 4px 6px 8px;

    &.site-title {
      font-size: $asu-font-size-large;
      margin: 0;
      padding: 5px 13px 5px 7px;

      a {
        border-bottom-color: transparent;
        font-weight: bold;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
