// Navigation
// 
// There are many different navigation options available in this theme.
// 
// Each one should be used appropriately to properly convey information
// in a way that users will understand.
// 
// Styleguide 2.
@import 'navigation/base-nav';
@import 'navigation/nav-tabs';
@import 'navigation/alterna-tabs';
@import 'navigation/justified-tabs';
@import 'navigation/nav-pills';
@import 'navigation/navbar';
@import 'navigation/ws-navbar';


//== Sidebar nav
.sidebar-nav {
  border-top: 8px solid $ws-sidebar-nav-border-top;
  margin-bottom: 24px;
  padding: 30px;
  position: relative;

  &:before {
    background-color: #fff;
    border-bottom: 1px solid $ws-sidebar-nav-border-other;
    border-left: 1px solid $ws-sidebar-nav-border-other;
    border-right: 1px solid $ws-sidebar-nav-border-other;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  :last-child {
    margin-bottom: 0;
  }

  &.affix {
    position: relative;
    width: 100%;

    @media (min-width: 992px) {
      position: fixed;
      top: 24px;
      // TODO this should not be a constant
      width: 293px;
    }

    @media (min-width: 1200px) {
      // TODO this should not be a constant
      width: 360px;
    }
  }
}

//== Site Name Desktop
#site-name-desktop {
  h1 {
    line-height: ($line-height-computed + 4);
    padding: 4px 6px 8px;

    &.site-title {
      font-size: 24px;
      margin: 0;
      padding: 0 13px 13px 0;

      a {
        border-bottom-color: transparent;
        color: $ws-site-name-color;
        font-weight: normal;
        text-decoration: none;

        &:first-child {
          color: $ws-site-name-first-color;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

// ========
// ASU Logo
// ========
#asu_hdr img {
  height: $asu-logo-height;
  width: $asu-logo-width;
}
