// Navigation
// 
// Styleguide 2.

.nav {
  > li > a { 
    border-bottom: 0;
  }

  .open > a {
    &,
    &:hover,
    &:focus { 
      border-color: $color-maroon;
    }
  }

  .nav-divider { 
    margin: 11px 0;
  }
}

.nav-tabs > li {
  border-top: 5px solid transparent;

  > a {
    border: 1px solid #d7d7d7;
    border-bottom-color: transparent;
    border-radius: 0;
    color: #a7a7a7;
    line-height: $line-height-base;
    margin-right: 0;
  }

  &:hover,
  &.active {
    border-top: 5px solid $color-maroon;

    > a {
      border-top-color: transparent;
    }
  }

  &.active > a {
    &,
    &:hover,
    &:focus {
      color: $color-maroon;
    }
  }
}

.nav-pills > li.active > a {
  &,
  &:hover,
  &:focus {
    background-color: $color-maroon;
  }
}

.nav-justified,
.nav-tabs.nav-justified,
.alterna-tabs.nav-justified { 
  width: 100%; 

  > li {
    float: none;

    > a {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}

.nav-tabs-justified,
.nav-tabs.nav-justified,
.alterna-tabs.nav-justified {  
  border-bottom: 0;

  > li > a {
    border-radius: 4px;
    margin-right: 0;
  }

  > .active > a {
    &,
    :hover,
    &:focus {
      border: 1px solid #ddd;
    }
  }

  @media (min-width: 991px) {
    > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }

    > .active > a {
      &,
      :hover,
      &:focus {
        border-bottom-color: white;
      }
    }
  }
}

.tab-content {
  padding: 24px;
}

.navbar {
  border-color: transparent;
  margin-bottom: 0;
  min-height: 46px;

  > .container {
    .navbar-brand {
      @media (min-width: $asu-screen-sm-min) {
        margin-left: 0;
      }

      @media (min-width: $asu-screen-md-min) {
        margin-left: -15px;
      }
    }
  }
}

.container,
.container-fluid {
  > {
    .navbar-header,
    .navbar-collapse {
      margin-left: 0;
      margin-right: 0;

      &.collapse {
        // Order here matters! 768 then 991
        @media (min-width: $asu-screen-sm-min) {
          display: none !important;

          &.in {
            display: block !important;
          }
        }

        @media (min-width: $asu-screen-md-min) {
          display: block !important;
        }
      }

      @media (min-width: $asu-screen-md-min) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .navbar-header {
      @media (min-width: $asu-screen-sm-min) {
        float: none;
      }

      @media (min-width: $asu-screen-md-min) {
        display: none;
        float: left;
      }
    }
  }
}

.navbar-brand {
  border-bottom: 0;
  font-size: $font-size-large;
  padding: ($space-large + 1) 15px;

  &:focus,
  &:hover {
    border-bottom: 0;
  }

  @media (min-width: $asu-screen-md-min) {
    display: none;
  }
}

.navbar-nav { 
  margin: 1px -15px; 

  @media (min-width: $asu-screen-sm-min) {
    float: none;
  }

  @media (min-width: $asu-screen-md-min) {
    float: left;
    margin: 0;
  }

  > li {
    @media (min-width: $asu-screen-sm-min) {
      float: none;
    }

    @media (min-width: $asu-screen-md-min) {
      float: left;
    }

    > a { 
      line-height: $line-height-computed;

      @media (min-width: $asu-screen-sm-min) {
        padding-bottom: 13px; 
        padding-top: 13px; 
      }
    }
  }

  .open .dropdown-menu {
    @media (max-width: $asu-screen-sm-max) {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      float: none;
      margin-top: 0;
      position: static;
      width: auto;
    }

    > li > a, 
    .dropdown-header {
      @media (max-width: $asu-screen-sm-max) {
        white-space: normal;
      }
    }

    > li > a { 
      @media (max-width: $asu-screen-sm-min) {
        line-height: inherit;   
      }
    }
  }
}


.navbar-form {
  margin-bottom: $space-base;
  margin-top: $space-base;
}

.navbar-btn {
  margin-bottom: $space-base;
  margin-top: $space-base;

  &.btn-sm,
  .btn-group-sm > &.btn {
    margin-bottom: 8.5px;
    margin-top: 8.5px;
  }
}

.navbar-text {
  margin-bottom: 13px;
  margin-top: 13px;
}

// ===============
// WebSpark Navbar
// ===============
.navbar-ws {
  background-color: $ws-navbar-bg;
  border: 0;
  border-radius: 0;

  @media (max-width: $asu-screen-sm-max) {
    &.affix {
      position: static !important;
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    @media (max-width: 991px) {
      // Not being used by official standards yet.
      //width: 100%;
    }
  }

  &.affix {
    top: 0;
    width: 100%;
    // admin bars usually have a z-index of 999999 and we want them to overlay on top of this affixed top menu
    z-index: 999998;
  }

  .navbar-nav > {
    li:first-child > a {
      &:first-child {
        @media (min-width: $asu-screen-md-min) {
          padding: 21px 25px !important;
        }
      }
    }

    li > a {
      background-color: transparent;
      color: $ws-navbar-text;
      font-size: 15px;
      font-weight: bold;
      line-height: 1;
      padding: 21px 16px;

      @media (max-width: $asu-screen-lg-min) {
        padding-left: 14px;
        padding-right: 14px;
      }


      &:hover,
      &:focus {
        background-color: $ws-navbar-focus-bg;
        color: $ws-navbar-focus-text;
      }

      li.open > a {
        background-color: $ws-navbar-focus-bg;
        color: $ws-navbar-focus-text;
      }

      .active > a {
        &,
        &:hover,
        &:focus {
          background-color: $ws-navbar-active-bg;
          color: $ws-navbar-text;
        }
      }

      .disabled > a {
        &,
        &:hover,
        &:focus {
          background-color: $ws-navbar-disabled-bg;
          color: $ws-navbar-disabled-text;
        }
      }

      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: $ws-navbar-nav-focus-bg;
          color: $ws-navbar-nav-focus-text;
        }
      }
    }
  }

  .navbar-brand {
    color: $ws-navbar-brand-text;
    font-size: 16px;
    height: auto;
    overflow: hidden;
    padding-right: 0;
    width: calc(100% - 60px);

    &:hover,
    &:focus {
      color: $ws-navbar-brand-hover-text;
    }

    .navbar-text {
      color: $ws-navbar-brand-text-text;
    }
  }

  .navbar-toggle {
    border: 0;

    @media (min-width: $asu-screen-sm-min) {
      display: block;
    }

    @media (min-width: 991px) {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $ws-navbar-toggle-focus-bg;

      .icon-bar {
        background-color: $ws-navbar-toggle-focus-icon-bg;
      }
    }

    .icon-bar {
      background-color: $ws-navbar-toggle-icon-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $ws-navbar-form-border;
  }

  .navbar-link {
    color: $ws-navbar-link-text;

    &:hover {
      color: $ws-navbar-link-hover-text;
    }
  }

  .btn-link {
    color: $ws-navbar-btn-link-text;

    &:hover,
    &:focus {
      color: $ws-navbar-btn-link-focus-text;
    }

    &[disabled]:hover,
    &[disabled]:focus,
    fieldset[disabled] &:hover,
    fieldset[disabled] &:focus {
      color: $ws-navbar-btn-link-disabled-text;
    }
  }

  .dropdown-menu {
    background-color: $ws-navbar-dropdown-menu-bg;
    border: 1px solid $ws-navbar-dropdown-menu-border;
    border-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    margin: 0;
    max-height: 0;
    min-width: 160px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    

    @media (min-width: 991px) {
      position: absolute;
      width: auto;
    }

    .divider {
      background-color: $ws-navbar-dropdown-divider-bg;
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
    }

    > li > a {
      color: $ws-navbar-dropdown-menu-link-text;
      font-size: 15px;
      font-weight: normal;
      line-height: 1;
      padding: 9px 25px 10px;

      &:hover,
      &:focus {
        background-color: $ws-navbar-dropdown-menu-link-focus-bg;
        border: 0;
        color: $ws-navbar-dropdown-menu-link-focus-text;
        text-decoration: none;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        background-color: $ws-navbar-dropdown-menu-link-focus-bg;
        color: $ws-navbar-dropdown-menu-link-focus-text;
        outline: 0;
        text-decoration: none;
      }
    }
  }

  .open > .dropdown-menu {
    border-color: $ws-navbar-dropdown-open-border;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    max-height: 2000px;
    padding: 10px 0;

    @media (max-width: 991px) {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

//== Sidebar nav
.sidebar-nav {
  border-top: 8px solid $ws-sidebar-nav-border-top;
  margin-bottom: 24px;
  padding: 30px;
  position: relative;

  &:before {
    background-color: #fff;
    border-bottom: 1px solid $ws-sidebar-nav-border-other;
    border-left: 1px solid $ws-sidebar-nav-border-other;
    border-right: 1px solid $ws-sidebar-nav-border-other;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  :last-child {
    margin-bottom: 0;
  }

  &.affix {
    position: relative;
    width: 100%;

    @media (min-width: 992px) {
      position: fixed;
      top: 24px;
      // TODO this should not be a constant
      width: 293px;
    }

    @media (min-width: 1200px) {
      // TODO this should not be a constant
      width: 360px;
    }
  }
}

//== Site Name Desktop
#site-name-desktop {
  h1 {
    line-height: ($line-height-computed + 4);
    padding: 4px 6px 8px;

    &.site-title {
      font-size: 24px;
      margin: 0;
      padding: 0 13px 13px 0;

      a {
        border-bottom-color: transparent;
        color: $ws-site-name-color;
        font-weight: normal;
        text-decoration: none;

        &:first-child {
          color: $ws-site-name-first-color;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

// ========
// ASU Logo
// ========
#asu_hdr img {
  height: $asu-logo-height;
  width: $asu-logo-width;
}
