//== Pagination
.pagination {
  margin: $asu-padding-xlarge-vertical 0;

  > li > {
    a,
    span {
      color: $asu-maroon;
      line-height: $asu-line-height-base;
      padding: 6px 19px;

      &:hover,
      &:focus {
        color: $asu-link-hover-color;
      }
    }
  }

  > .active > a {
    &,
    &:hover,
    &:focus {
      background-color: $asu-maroon;
      border-color: $asu-maroon;
    }
  }
}

.pagincation-lg {
  > {
    li {
      a,
      span {
        font-size: $asu-font-size-large;
        padding: $asu-padding-large-vertical $asu-padding-large-horizontal;
      }

      &:first-child > {
        a,
        span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }

      &:last-child > {
        a,
        span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }
    }
  }
}

.pagination-sm {
  > {
    li {
      a,
      span {
        font-size: $asu-font-size-small;
        padding: 5px $asu-padding-small-horizontal;
      }

      &:first-child > {
        a,
        span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }

      &:last-child > {
        a,
        span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }
    }
  }
}

.pager {
  margin: $asu-padding-xlarge-vertical 0;
}
