//== Popovers
.popover {
  border-radius: $asu-border-radius-base;
}

.popover-title {
  border-radius: ($asu-border-radius-base - 1) ($asu-border-radius-base - 1) 0 0;
  font-size: $asu-font-size-medium;
}
