// =======
// Profile
// =======
.profile {
  border: 1px solid $color-alto;
  margin-bottom: 24px;

  .profile-heading {
    padding: 40px 40px 14px;
  }

  .profile-pic {
    max-width: 200px;
  }

  .profile-actions {
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    padding-left: 0;
  }

  .tab-content {
    padding: 40px 40px 14px;
  }

  .nav-tabs {
    padding-left: 40px;
  }
}
