//== Progress Bars
.progress {
  height: $space-xxlarge;
  margin-bottom: $space-xxlarge;
}

.progress-bar {
  background-color: $color-maroon;
  font-size: $font-size-small;
  line-height: $line-height-computed;
}

.progress-bar-success {
  background-color: $asu-state-success-text;
}

.progress-bar-info {
  background-color: $asu-state-info-text;
}

.progress-bar-warning {
  background-color: $asu-state-warning-text;
}

.progress-bar-danger {
  background-color: $asu-state-danger-text;
}
