//== Progress Bars
.progress {
  height: $asu-padding-xlarge-vertical;
  margin-bottom: $asu-padding-xlarge-vertical;
}

.progress-bar {
  background-color: $asu-maroon;
  font-size: $asu-font-size-small;
  line-height: $asu-line-height-computed;
}

.progress-bar-success {
  background-color: $asu-state-success-text;
}

.progress-bar-info {
  background-color: $asu-state-info-text;
}

.progress-bar-warning {
  background-color: $asu-state-warning-text;
}

.progress-bar-danger {
  background-color: $asu-state-danger-text;
}
