//== Progress Bars
.progress {
  height: $space-xxlarge;
  margin-bottom: $space-xxlarge;
}

.progress-bar {
  background-color: $color-maroon;
  font-size: $font-size-small;
  line-height: $line-height-computed;
}

.progress-bar-success {
  background-color: $color-green;
}

.progress-bar-info {
  background-color: $color-blue;
}

.progress-bar-warning {
  background-color: $color-yellow;
}

.progress-bar-danger {
  background-color: $color-orange;
}
