.related-articles {
  background-color: $color-alabaster;
  border-top: 1px solid darken($color-mine-shaft, 8);
  margin-top: $space-large;
  padding-bottom: $space-xxlarge;
  padding-top: 0;

  li {
    margin-right: $space-large;

    a {
      background-color: $color-white;
      border: 1px solid $color-silver;
      border-radius: $border-radius;
      display: inline-block;
      padding: $space-base $space-large;
    }
  }
}
