// ===========
// Scaffolding
// ===========
html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $color-white;
  color: darken($color-mine-shaft, 3.5);
  font-family: $font-family;
  font-size: $font-size-medium;
  font-weight: 200;
  line-height: $line-height-base;

  @media (min-width: 1200px) {
    font-size: $font-size-large;
  }
}

a {
  border-bottom: 1px dotted $color-maroon;
  color: $color-maroon;
  font-weight: normal;

  &:hover,
  &:focus {
    border-bottom: 1px dotted $asu-link-hover-color;
    color: $asu-link-hover-color;
    text-decoration: none;
  }

  &.no-border {
    border-bottom: 0;

    &:hover,
    &:focus {
      border-bottom: 0;
    }
  }

  //=== External Links
  li.external-link &:before {
    color: inherit;
    content: '\f08e';
    display: inline-block;
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    width: 10px;

    .navbar & {
      margin-top: 4px;
    }
  }
}

.img-bordered,
.img-border {
  border: 1px solid $ws-image-border-color;
}

.img-rounded {
  border-radius: $asu-border-radius-base;
}

.img-thumbnail {
  line-height: $line-height-base;
}

hr {
  border-top: 1px solid $color-nobel;
  margin-bottom: $line-height-computed;
  margin-top: $line-height-computed;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: black;
  font-family: inherit;
  font-weight: normal;

  .sidebar-nav > &,
  .panel-body > & {
    margin-top: 0;
  }

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: ($line-height-computed * 2);
  margin-top: ($line-height-computed * 2);

  @media(max-width: $asu-screen-xs-max) {
    font-size: 40px;
  }
}

h2,
h3,
.h2,
.h3 {
  line-height: $line-height-base;
  margin-bottom: ($line-height-computed);
  margin-top: ($line-height-computed * 2);
}

h4,
.h4 {
  color: black;
  font-size: 21px;
  line-height: $line-height-base;
  margin-bottom: ($line-height-computed);
  margin-top: ($line-height-computed);
}

h5,
.h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: ($line-height-computed);
  margin-bottom: 0;
  margin-top: ($line-height-computed);
}

h6,
.h6 {
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
  line-height: ($line-height-computed);
  margin-bottom: 0;
  margin-top: ($line-height-computed);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  small,
  .small {
    color: #777;
    font-size: 65%;
    font-weight: normal;
    line-height: 1;
  }
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  small,
  .small {
    color: #777;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
  }
}

h2,
.h2 {
  font-size: 36px;

  @media(max-width: $asu-screen-xs-max) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 24px;

  @media(max-width: $asu-screen-xs-max) {
    font-size: 20px;
  }
}

p {
  font-weight: 200;
  line-height: 24px;
  margin: 0 0 24px;

  &.text-center {
    margin-left: auto;
    margin-right: auto;
  }
}

.lead {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 24px;
  max-width: 1000px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

small,
.small {
  font-size: 75%;
}

mark,
.mark {
  background-color: $asu-state-warning-bg;
}

@include text-emphasis-variant('.text-yellow', $color-yellow);

@include text-emphasis-variant('.text-green', $color-green);

@include text-emphasis-variant('.text-primary', $color-maroon);

@include text-emphasis-variant('.text-success', $asu-state-success-text);

@include text-emphasis-variant('.text-info', $asu-state-info-text);

@include text-emphasis-variant('.text-warning', $asu-state-warning-text);

@include text-emphasis-variant('.text-danger', $asu-state-danger-text);

@include bg-variant('.bg-primary', $color-maroon);

@include bg-variant('.bg-success', $asu-state-success-bg);

@include bg-variant('.bg-info', $asu-state-info-bg);

@include bg-variant('.bg-warning', $asu-state-warning-bg);

@include bg-variant('.bg-danger', $asu-state-danger-bg);

.page-header {
  margin: 0 0 ($line-height-computed);
  padding-bottom: 11px;
}

ul,
ol {
  margin-bottom: ($line-height-computed);
}

dl {
  margin-bottom: ($line-height-computed);
}

dt,
dd {
  line-height: ($line-height-base);
}

blockquote {
  font-size: 20px;
  margin: 0 0 ($line-height-computed);
  padding: ($line-height-computed / 2) ($line-height-computed);

  footer,
  small,
  .small {
    line-height: $line-height-base;
  }
}

address {
  font-weight: 200;
  line-height: $line-height-base;
  margin-bottom: ($line-height-computed);

  strong {
    font-weight: normal;
  }
}

kbd {
  -webkit-border-radius: $asu-border-radius-base;
  border-radius: $asu-border-radius-base;
}

pre {
  font-size: 15px;
  line-height: $line-height-base;
  margin: 0 0 ($line-height-computed / 2);
  padding: 11.5px;
}

/* order matters! Gray back before spacing rules! */
.gray-back {
  background-color: $ws-gray-back;
  padding: 48px 0;
}

.gold-back {
  background-color: $color-gold;
}

.space-top-0 {
  margin-top: 0;
}

.space-top-sm {
  margin-top: $space-large;
}

.space-top-md {
  margin-top: ($space-large * 2);
}

.space-top-lg {
  margin-top: ($space-large * 3);
}

.space-top-xl {
  margin-top: ($space-large * 4);
}

.space-bot-0 {
  margin-bottom: 0;
}

.space-bot-sm {
  margin-bottom: $space-large;
}

.space-bot-md {
  margin-bottom: ($space-large * 2);
}

.space-bot-lg {
  margin-bottom: ($space-large * 3);
}

.space-bot-xl {
  margin-bottom: ($space-large * 4);
}

.space-bot-form {
  margin-bottom: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.pad-top-0 {
  padding-top: 0;
}

.pad-top-sm {
  padding-top: 12px;
}

.pad-top-md {
  padding-top: 24px;
}

.pad-top-lg {
  padding-top: 36px;
}

.pad-top-xl {
  padding-top: 48px;
}

.pad-bot-0 {
  padding-bottom: 0;
}

.pad-bot-sm {
  padding-bottom: 12px;
}

.pad-bot-md {
  padding-bottom: 24px;
}

.pad-bot-lg {
  padding-bottom: 36px;
}

.pad-bot-xl {
  padding-bottom: 48px;
}

.pad-zero {
  padding: 0 !important;
}

