// Thumbnails
// 
// TODO document
// 
// Styleguide 20
.thumbnail {
  line-height: $line-height-base;
  margin-bottom: $space-xxlarge;

  .captions {
    color: darken($color-mine-shaft, 4);
  }
}

a.thumbnail {
  &:hover,
  &:focus,
  &.active {
    border-color: $color-maroon;
  }
}
