//== Thumbnails
.thumbnail {
  margin-bottom: $asu-padding-xlarge-vertical;
  line-height: $asu-line-height-base;

  .captions {
    color: $asu-gray-darker;
  }
}
 a.thumbnail {
  &:hover, &:focus, &.active {
    border-color: $asu-brand-primary;
  }
}