/**
 * ASU Web Standards Variables
 *
 * @see https://hub.asu.edu/brand-hq/brand-standards/color-palette
 */

// ======
// Colors
// ======
$ws-white:          #fff !default;
$asu-maroon:        #903 !default;
$asu-blue:          #008ed6 !default;
$asu-green:         #568e14 !default;
$asu-orange:        #f47c00 !default;
$asu-gold:          #f0ad4e !default;
$asu-yellow:        #ffc425 !default;
//== Grays
$asu-gray-darker:   #2a2a2a !default;
$asu-gray-dark:     #505050 !default;
$asu-gray:          #b0b0b0 !default;
$asu-gray-lighter:  #b7b7b7 !default;
$asu-gray-lightest: #fafafa !default;
$ws-darker-gray-2:  #1f1f1f !default;
$ws-darker-gray:    #333 !default;
$ws-dark-gray:      #777 !default;
$ws-light-gray:     #ccc !default;
$ws-lighter-gray:   #ededed !default;

// ==========
// Typography
// ==========
// Font as designated by the University Standards.  Do not use
// Roboto Condensed.
//
// You can download this font directly from 
// the Android developers site:
// http://developer.android.com/design/downloads/index.html
// 
// It is also available as a Google Font:
// http://www.google.com/fonts/specimen/Roboto
$ws-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// ===========
// Media Sizes
// ===========
$asu-screen-xs-min: 480px !default;
$asu-screen-sm-min: 768px !default;
$asu-screen-md-min: 992px !default;
$asu-screen-lg-min: 1200px !default;
$asu-screen-xs-max: ($asu-screen-sm-min - 1) !default;
$asu-screen-sm-max: ($asu-screen-md-min - 1) !default;
$asu-screen-md-max: ($asu-screen-lg-min - 1) !default;

// ===========
// Scaffolding
// ===========
$asu-link-hover-color:          #d23153 !default;
$ws-gray-back:                  #f1f1f1 !default;

// ===========================
// Vertical Margin and Padding
// ===========================
$asu-padding-base-vertical:     6px !default;
$asu-padding-xs-vertical:       1px !default;
$asu-padding-small-vertical:    5px !default;
$asu-padding-large-vertical:    12px !default;
$asu-padding-xlarge-vertical:   24px !default;

// =============================
// Horizontal Margin and Padding
// =============================
$asu-padding-base-horizontal:   19px !default;
$asu-padding-xs-horizontal:     5px !default;
$asu-padding-small-horizontal:  12px !default;
$asu-padding-large-horizontal:  24px !default;

// ============
// Line Heights
// ============
$asu-line-height-base:          1.44 !default;
$asu-line-height-small:         1.5 !default; // TODO I think these are mixed up
$asu-line-height-large:         1.33 !default;
$asu-line-height-computed:      24px !default;

// ======================
// Form states and alerts
// ======================
$asu-state-success-text:        $asu-green !default;
$asu-state-success-bg:          #1dd16e !default;
$asu-state-success-border:      #0b4b28 !default;

$asu-state-info-text:           #008ed6 !default;
$asu-state-info-bg:             #23b5ff !default;
$asu-state-info-border:         #005b8a !default;

$asu-state-warning-text:        $asu-orange !default;
$asu-state-warning-bg:          #d3ed5c !default;
$asu-state-warning-border:      #859e11 !default;

$asu-state-danger-text:         $asu-orange !default;
$asu-state-danger-bg:           #f3937d !default;
$asu-state-danger-border:       #c43413 !default;

// ==========
// Font Sizes
// ==========
$asu-font-size-small:           14px !default;
$asu-font-size-medium:          16px !default;
$asu-font-size-base:            16px !default;
$asu-font-size-large:           20px !default;
$asu-font-size-h1:              72px !default;

// ===========
// Form inputs
// ===========
$asu-input-height-small:        33px !default;
$asu-input-height-large:        53px !default;

// =======
// Borders
// =======
$asu-border-radius-base:        4px !default;
$asu-border-radius-small:       $asu-border-radius-base !default;
$asu-border-radius-large:       $asu-border-radius-base !default;

// =======
// Buttons
// =======
$asu-link-color:                $asu-maroon !default;
$asu-link-hover-color:          #d23153 !default;
$asu-btn-link-disabled-color:   #777 !default;

$asu-btn-default-color:         #505050 !default;
$asu-btn-default-bg:            #f5f5f5 !default;
$asu-btn-default-border:        #b0b0b0 !default;

$asu-btn-primary-color:         $ws-white !default;
$asu-btn-primary-bg:            $asu-maroon !default;
$asu-btn-primary-border:        $asu-maroon !default;

$asu-btn-secondary-color:       $asu-gray-darker !default;
$asu-btn-secondary-bg:          #dbdbdb !default;
$asu-btn-secondary-border:      #dbdbdb !default;

$asu-btn-gold-color:            $asu-gray-darker !default;
$asu-btn-gold-bg:               #ffb310 !default;
$asu-btn-gold-border:           #ffb310 !default;

$asu-btn-blue-color:            $ws-white !default;
$asu-btn-blue-bg:               $asu-blue !default;
$asu-btn-blue-border:           $asu-blue !default;

$asu-btn-success-color:         $ws-white !default;
$asu-btn-success-bg:            $asu-green !default;
$asu-btn-success-border:        $asu-green !default;

$asu-btn-info-color:            $ws-white !default;
$asu-btn-info-bg:               #008ed6 !default;
$asu-btn-info-border:           #004a70 !default;

$asu-btn-warning-color:         #2a2a2a !default;
$asu-btn-warning-bg:            #98b514 !default;
$asu-btn-warning-border:        #435009 !default;

$asu-btn-danger-color:          $ws-white !default;
$asu-btn-danger-bg:             $asu-orange !default;
$asu-btn-danger-border:         #751f0b !default;

// ======
// Labels
// ======
$asu-label-primary-bg:          $asu-maroon !default;
$asu-label-success-bg:          $asu-green !default;
$asu-label-info-bg:             $asu-state-info-text !default;
$asu-label-warning-bg:          $asu-orange !default;
$asu-label-danger-bg:           $asu-orange !default;

// ======
// Alerts
// ======
$asu-alert-success-bg:          $asu-state-success-text !default; 
$asu-alert-success-border:      $asu-state-success-border !default;
$asu-alert-success-text:        $ws-white !default;   

$asu-alert-info-bg:             $asu-state-info-text !default; 
$asu-alert-info-border:         $asu-state-info-border !default;
$asu-alert-info-text:           $ws-white !default;

$asu-alert-warning-bg:          $asu-state-warning-text !default; 
$asu-alert-warning-border:      $asu-state-warning-border !default; 
$asu-alert-warning-text:        $asu-gray-darker !default;

$asu-alert-danger-bg:           $asu-state-danger-text !default;  
$asu-alert-danger-border:       $asu-state-danger-border !default;
$asu-alert-danger-text:         $ws-white !default;

// ======
// Panels
// ======
$asu-panel-primary-border:      $asu-maroon !default;
$asu-panel-primary-text:        $ws-white !default;
$asu-panel-primary-heading-bg:  $asu-maroon !default;

$asu-panel-success-border:      $asu-state-success-border !default;
$asu-panel-success-text:        $ws-white !default;
$asu-panel-success-heading-bg:  $asu-state-success-text !default;

$asu-panel-info-border:         $asu-state-info-border !default;
$asu-panel-info-text:           $ws-white !default;
$asu-panel-info-heading-bg:     $asu-state-info-text !default;

$asu-panel-warning-border:      $asu-state-warning-border !default;
$asu-panel-warning-text:        $ws-white !default;
$asu-panel-warning-heading-bg:  $asu-state-warning-text !default;

$asu-panel-danger-border:       $asu-state-danger-border !default;
$asu-panel-danger-text:         $ws-white !default;
$asu-panel-danger-heading-bg:   $asu-state-danger-text !default;

// ======
// Header
// ======
// The standard header [is] displayed
// on a white background (#fff).
$ws-header-bg:              $ws-white !default;
// Secondary unit (such as academic
// department or sub-unit name):
// font color gray #4F5557
$ws-site-name-color:        #4f5557 !default;
// Primary unit (such as college
// or school name): font color black
// #000000
$ws-site-name-first-color:  #000; 

// ========
// ASU Logo
// ========
// The ASU logo dimensions are 203px
// wide x 32px tall.
$asu-logo-height: 32px !default;
$asu-logo-width:  203px !default;

// =====
// Heros
// =====
$ws-hero-font-color:            $ws-white !default;
$ws-hero-bg:                    $ws-darker-gray-2 !default;
$ws-hero-img-border:            #dcdcdc !default;
$ws-hero-dark-bg:               #353535 !default;

$ws-hero-ratio:                 30%;
$ws-hero-slim-height:           70px;

// ======
// Footer
// ======
$ws-footer-font-color:             $ws-white !default;
$ws-footer-font-size:              16px !default;
// Icons in the footer, such as social links, are  gray (#a9a9a9)
$ws-footer-social-link-text:       #a9a9a9 !default;
// Should have a hover white (#fff)
$ws-footer-social-link-focus-text: $ws-white !default;
$ws-footer-link-color:             $ws-light-gray !default;

$ws-big-foot-bg:                   #1e1e1e !default;
$ws-big-foot-nav-link-text:        $ws-light-gray !default;
$ws-big-foot-nav-link-border:      $ws-light-gray !default;
$ws-big-foot-nav-link-focus-text:  white !default;

$ws-little-foot-bg:                #e5e5e5 !default;
$ws-little-foot-focus-text:        #595959 !default;

// ======
// Navbar
// ======
$ws-navbar-bg:              #353535 !default;
$ws-navbar-text:            $ws-lighter-gray !default;
$ws-navbar-focus-bg:        black   !default;
$ws-navbar-focus-text:      #ffb310 !default;
$ws-navbar-active-bg:       #1e1e1e !default;
$ws-navbar-active-text:     $ws-lighter-gray !default;
$ws-navbar-disabled-bg:     transparent !default;
$ws-navbar-disabled-text:   $ws-light-gray !default;

$ws-navbar-brand-text:                     $ws-lighter-gray !default;
$ws-navbar-brand-hover-text:               $ws-lighter-gray !default;
$ws-navbar-brand-text-text:                $ws-dark-gray !default;

$ws-navbar-toggle-focus-bg:                black !default;
$ws-navbar-toggle-focus-icon-bg:           $ws-navbar-focus-text !default; // #ffb310
$ws-navbar-toggle-icon-bg:                 $ws-lighter-gray !default; // #ededed

$ws-navbar-form-border:                    black !default;

$ws-navbar-nav-focus-bg:                   black !default;
$ws-navbar-nav-focus-text:                 $ws-navbar-focus-text !default;

$ws-navbar-link-text:                      $ws-dark-gray !default;
$ws-navbar-link-hover-text:                $ws-darker-gray !default;

$ws-navbar-btn-link-text:                  $ws-dark-gray !default;
$ws-navbar-btn-link-focus-text:            $ws-darker-gray !default;
$ws-navbar-btn-link-disabled-text:         $ws-light-gray !default;

$ws-navbar-dropdown-menu-bg:               $ws-darker-gray-2 !default;
$ws-navbar-dropdown-menu-border:           black !default;

$ws-navbar-dropdown-menu-link-text:        $ws-lighter-gray !default;
$ws-navbar-dropdown-menu-link-focus-text:  $ws-lighter-gray !default;
$ws-navbar-dropdown-menu-link-focus-bg:    black !default;

$ws-navbar-dropdown-divider-bg:            black !default;
$ws-navbar-dropdown-open-border:           black !default;

// ==================
// Sidebar Navigation
// ==================
$ws-sidebar-nav-border-top:                $asu-maroon !default;
$ws-sidebar-nav-border-other:              #e9e9e9;

// ========
// Calendar
// ========
$ws-calendar-date-text:             #4f5557 !default;
$ws-calendar-date-bg:               #fafafa !default;
$ws-calendar-date-border:           #a1a1a1 !default;

$ws-calendar-date-hover-border:     $asu-maroon !default;
$ws-calendar-date-hover-box-shadow: rgba(0, 0, 0, .2) !default;

$ws-calendar-date-weekday-bg:       white !default;
$ws-calendar-date-weekday-border:   #afa593 !default;

// =======
// Profile
// =======
$ws-profile-border:                          #d7d7d7 !default;

// =========
// Mega Menu
// =========
$ws-mega-menu-drop-link-text:                $ws-lighter-gray !default;
$ws-mega-menu-drop-link-focus-text:          $ws-lighter-gray !default;
$ws-mega-menu-drop-link-focus-bg:            black !default;

$ws-mega-menu-drop-link-active-focus-text:   $ws-lighter-gray !default;
$ws-mega-menu-drop-link-active-focus-bg:     black !default;

$ws-dropdown-title-color:                    $ws-lighter-gray !default;

$ws-vertical-border-right-border:            #414141 !default;

// ================
// Responsive Table
// ================ 
$ws-responsive-table-border:                 $asu-gray-lighter !default;

// ============
// Alterna Tabs
// ============
$ws-alterna-tabs-active-color:      $asu-maroon !default;
$ws-alterna-tabs-active-font-color: $asu-gray-darker !default;
$ws-alterna-tabs-border-size:       5px !default;
$ws-alterna-tabs-line-height:       $asu-line-height-base !default;

// ======
// Badges
// ======
$ws-badges-color:     $asu-maroon !default;
$ws-badges-font-size: $asu-font-size-small !default;
