// ==============================
// Base Colors
// 
// @see https://hub.asu.edu/brand-hq/brand-standards/color-palette
// ==============================

// Colors
$color-maroon:           #903    !default;
$color-blue:             #008ed6 !default;
$color-cerulean:         #008ed6 !default;
$color-green:            #568e14 !default;
$color-orange:           #f47c00 !default;
$color-gold:             #f0ad4e !default;
$color-yellow:           #ffc425 !default;
$color-sun:              #ffb310 !default;
$color-selective-yellow: #ffb204 !default;

// Variants
$color-green-darkened:    desaturate(adjust_hue(darken($color-green, 14), 42), 1);
$color-cerulean-darkened: desaturate(adjust_hue(darken($color-cerulean, 14), 42), 1);
$color-yellow-darkened:   desaturate(darken($color-yellow, 18), 4);
$color-orange-darkened:   desaturate(darken($color-orange, 18), 4);

// Grays
$color-black:          #000    !default;
$color-dark-cave:      #1f1f1f !default;
$color-mine-shaft:     #353535 !default;
$color-emperor:        #505050 !default;
$color-dove-gray:      #666    !default;
$color-boulder:        #777    !default;
$color-silver-chalice: #b0b0b0 !default;
$color-nobel:          #b7b7b7 !default;
$color-silver:         #ccc    !default;
$color-gallery:        #ededed !default;
$color-alabaster:      #fafafa !default;
$color-white:          #fff    !default;
