// ==============================
// Sizing
// ==============================

$base-sizing-unit: 5px !default;

$space-xsmall:  1px               !default;     //  1px
$space-base:    $base-sizing-unit !default;     //  5px
$space-large:   2 * $base-sizing-unit !default; // 10px
$space-xlarge:  4 * $base-sizing-unit !default; // 20px
$space-xxlarge: 5 * $base-sizing-unit !default; // 25px

$border-radius: 4px !default;

// ===
// Nav
// ===
$nav-bar-height:              57px;
$nav-item-padding:            ($nav-bar-height - $line-height-computed) / 2;
$nav-bar-dropdown-width:      160px;
$nav-bar-dropdown-max-height: 2000px;
$sidebar-border-top:          8px;
$sidebar-offset-top:          24px;
$sidebar-medium-width:        293px;
$sidebar-large-width:         360px;
