// Core variables and mixins
@import "variables";
@import "mixins";

html {
  -webkit-font-smoothing: antialiased; 
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.44;
  font-weight: 200;
  color: #2a2a2a;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

a {
  color: $asu-brand-primary;
  font-weight: normal;
  border-bottom: 1px dotted $asu-brand-primary;

  :hover, :focus {
    color: $asu-link-hover-color;
    text-decoration: none;
    border-bottom: 1px dotted $asu-link-hover-color;
  }

  .no-border {
    border-bottom: 0;

    :hover, :focus {
      border-bottom: 0;
    }
  }
}

.img-bordered {
  border: 1px solid $asu-gray;
}

.img-rounded {
  border-radius: $asu-border-radius-base;
}

.img-thumbnail {
  line-height: $asu-line-height-base;
}

hr {
  margin-top: $asu-line-height-computed;
  margin-bottom: $asu-line-height-computed;
  border-top: 1px solid $asu-gray-lighter;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: inherit;
  font-weight: normal;
  color: black;
}

h1, .h1 {
  margin-top: ($asu-line-height-computed * 2);
  margin-bottom: ($asu-line-height-computed * 2);
  line-height: 1.2;
}

h2, h3,
.h2, .h3 {
  margin-top: ($asu-line-height-computed * 2);
  margin-bottom: ($asu-line-height-computed);
  line-height: $asu-line-height-base;
}

h4, .h4 {
  margin-top: ($asu-line-height-computed);
  margin-bottom: ($asu-line-height-computed);
  line-height: $asu-line-height-base;
  color: black;
}

h5, .h5 {
  margin-top: ($asu-line-height-computed);
  margin-bottom: 0;
  font-weight: bold;
  line-height: ($asu-line-height-computed);
}

h6, .h6 {
  margin-top: ($asu-line-height-computed);
  margin-bottom: 0;
  font-weight: 200;
  font-style: italic;
  line-height: ($asu-line-height-computed);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  small, .small {
    font-size: 65%;
    font-weight: normal;
    line-height: 1;
    color: #777777;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  small, .small {
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    color: #777777;
  }
}

h1, .h1 {
  font-size: 48px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 21px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 16px;
}


@media (min-width: 768px) {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
  }
}

.sidebar-nav, .panel-body {
  > {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-top: 0;
    }
  }
}

p {
  max-width: 800px;
  margin: 0 0 24px;
  font-weight: 200;
  line-height: 24px;
  &.text-center {
    margin-left: auto;
    margin-right: auto;
  }
}

.lead {
  max-width: 1000px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

small, .small {
  font-size: 75%;
}

mark, .mark {
  background-color: $asu-state-warning-bg;
}

@include text-emphasis-variant('.text-yellow', $asu-yellow);

@include text-emphasis-variant('.text-green', $asu-green);

@include text-emphasis-variant('.text-primary', $asu-brand-primary);

@include text-emphasis-variant('.text-success', $asu-state-success-text);

@include text-emphasis-variant('.text-info', $asu-state-info-text);

@include text-emphasis-variant('.text-warning', $asu-state-warning-text);

@include text-emphasis-variant('.text-danger', $asu-state-danger-text);

@include bg-variant('.bg-primary', $asu-brand-primary);

@include bg-variant('.bg-success', $asu-state-success-bg);

@include bg-variant('.bg-info', $asu-state-info-bg);

@include bg-variant('.bg-warning', $asu-state-warning-bg);

@include bg-variant('.bg-danger', $asu-state-danger-bg);

.page-header {
  padding-bottom: 11px;
  margin: 0 0 ($asu-line-height-computed);
}

ul, ol {
  margin-bottom: ($asu-line-height-computed);
}

dl {
  margin-bottom: ($asu-line-height-computed);
}

dt, dd {
  line-height: ($asu-line-height-base);
}

// TODO need to test if this is overriden correctly
.dl-horizontal dt {  
  @media (min-width: 768px) {
    float: inherit !important; 
    width: inherit !important; 
    clear:  inherit !important; 
    text-align: inherit !important; 
    overflow:  inherit !important; 
    text-overflow: inherit !important; 
    white-space: inherit !important; 
  }

  @media (min-width: 992px) {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

blockquote {
  padding: ($asu-line-height-computed / 2) ($asu-line-height-computed);
  margin: 0 0 ($asu-line-height-computed);
  font-size: 20px;

  footer, small, .small {
    line-height: $asu-line-height-base;
  }
}

address {
  font-weight: 200;
  margin-bottom: ($asu-line-height-computed);
  line-height: $asu-line-height-base;

  strong {
    font-weight: normal;
  }
}

kbd {
  border-radius: $asu-border-radius-base;
}

pre {
  padding: 11.5px;
  margin: 0 0 ($asu-line-height-computed / 2);
  font-size: 15px;
  line-height: $asu-line-height-base;
}

.table {
  margin-bottom: $asu-line-height-base;

  > {
    thead, tbody, tfoot {
      > tr > {
        th, td {
          line-height: $asu-line-height-base;
          border-top: 1px solid $asu-gray-lighter;
        }
      }
    }

    thead > tr > th {
      border-bottom: 2px solid $asu-gray-lighter;
    }

    tbody + tbody {
      border-top: 2px solid $asu-gray-lighter;
    }
  }
}

.table-bordered {
  border: 1px solid $asu-gray-lighter;

  > {
    thead, tbody, tfoot {
      > tr > {
        th, td {
          border: 1px solid $asu-gray-lighter;
        }
      }
    }
  }
}

.table-striped > tbody > tr:nth-child(odd) > {
  td, th {
    background-color: $asu-gray-lightest;
  }
}

@include table-row-variant('success', $asu-state-success-bg);
@include table-row-variant('info', $asu-state-info-bg);
@include table-row-variant('warning', $asu-state-warning-bg);
@include table-row-variant('danger', $asu-state-danger-bg);

.table-responsive {
  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
    border: 1px solid $asu-gray-lighter;
  }
}

::-webkit-input-placeholder {
  font-weight: 200;
  color: #7f7f7f;
}

:-moz-placeholder {

  font-weight: 200;
  color: #7f7f7f;
}

::-moz-placeholder {

  font-weight: 200;
  color: #7f7f7f;
}

:-ms-input-placeholder {
  font-weight: 200;
  color: #7f7f7f;
}

legend {
  margin-bottom: $asu-line-height-computed;
  font-size: $asu-line-height-computed;
}

label {
  font-weight: normal;
  font-size: 14px;
}

output {
  font-size: 16px;
  line-height: $asu-line-height-base;
  color: $asu-gray-dark;
}

.form-control {
  height: 38px; 
  font-size: 16px; 
  font-weight: 200; 
  line-height: $asu-line-height-base; 
  color: $asu-gray-dark;
  border: 1px solid $asu-gray;
  @include box-shadow(inset 1px 2px 9px rgba(213, 213, 213, 0.5));
}

.form-control:focus {
  border-color: #038dd5; 
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(3, 141, 213, 0.6));
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 38px; 
  // IE8+ misaligns the text within date inputs, so we reset
  line-height: $asu-line-height-base #{\0};

  &.input-sm {
    line-height: $asu-input-height-small;
  }
  &.input-lg {
    line-height: $asu-input-height-large;
  } 
}

.radio, .checkbox {
  min-height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;

  .inline {
    display: inline-block;
    margin-right: 20px;
  }
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.

@include input-size(
  '.input-sm', 
  $asu-input-height-small, 
  $asu-padding-small-vertical, 
  $asu-padding-small-horizontal, 
  $asu-font-size-small, 
  $asu-line-height-small, 
  $asu-border-radius-small);

@include input-size(
  '.input-lg', 
  $asu-input-height-large, 
  $asu-padding-large-vertical, 
  $asu-padding-large-horizontal, 
  $asu-font-size-large, 
  $asu-line-height-large, 
  $asu-border-radius-large);

.has-feedback {
  .form-control {
    padding-right: 47.5px;
  }
}

.form-control-feedback {
  top: 29px;
  width: 38px;
  height: 38px;
  line-height: 38px;
}

.input-lg + .form-control-feedback {
  width: $asu-input-height-large;
  height: $asu-input-height-large;
  line-height: $asu-input-height-large;
}
.input-sm + .form-control-feedback {
  width: $asu-input-height-small;
  height: $asu-input-height-small;
  line-height: $asu-input-height-small;
}

// Feedback states
.has-success {
  @include form-control-validation(
    $asu-state-success-text, 
    $asu-state-success-text, 
    $asu-state-success-bg);
}
.has-warning {
  @include form-control-validation(
    $asu-state-warning-text, 
    $asu-state-warning-text, 
    $asu-state-warning-bg);
}
.has-error {
  @include form-control-validation(
    $asu-state-danger-text, 
    $asu-state-danger-text, 
    $asu-state-danger-bg);
}

.help-block {
  color: #6a6a6a;
}

.form-horizontal {
  .radio, .checkbox {
    min-height: 31px;
  }
}
.form-horizontal .form-group-lg .control-label { 
  @media (min-width: 768px) { 
    padding-top: 16.96px;
  }
}

.btn {
  padding: 6px 19px;
  font-size: $asu-font-size-medium;
  line-height: $asu-line-height-base;

  :focus, :active:focus, .active:focus {
    outline: 0;
  }
}