// Core variables and mixins
@import "variables";
@import "mixins";

html {
  -webkit-font-smoothing: antialiased; 
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.44;
  font-weight: 200;
  color: #2a2a2a;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

a {
  color: $asu-brand-primary;
  font-weight: normal;
  border-bottom: 1px dotted $asu-brand-primary;

  &:hover, &:focus {
    color: $asu-link-hover-color;
    text-decoration: none;
    border-bottom: 1px dotted $asu-link-hover-color;
  }

  &.no-border {
    border-bottom: 0;

    &:hover, &:focus {
      border-bottom: 0;
    }
  }
}

.img-bordered {
  border: 1px solid $asu-gray;
}

.img-rounded {
  border-radius: $asu-border-radius-base;
}

.img-thumbnail {
  line-height: $asu-line-height-base;
}

hr {
  margin-top: $asu-line-height-computed;
  margin-bottom: $asu-line-height-computed;
  border-top: 1px solid $asu-gray-lighter;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: inherit;
  font-weight: normal;
  color: black;
}

h1, .h1 {
  margin-top: ($asu-line-height-computed * 2);
  margin-bottom: ($asu-line-height-computed * 2);
  line-height: 1.2;
}

h2, h3,
.h2, .h3 {
  margin-top: ($asu-line-height-computed * 2);
  margin-bottom: ($asu-line-height-computed);
  line-height: $asu-line-height-base;
}

h4, .h4 {
  margin-top: ($asu-line-height-computed);
  margin-bottom: ($asu-line-height-computed);
  line-height: $asu-line-height-base;
  color: black;
}

h5, .h5 {
  margin-top: ($asu-line-height-computed);
  margin-bottom: 0;
  font-weight: bold;
  line-height: ($asu-line-height-computed);
}

h6, .h6 {
  margin-top: ($asu-line-height-computed);
  margin-bottom: 0;
  font-weight: 200;
  font-style: italic;
  line-height: ($asu-line-height-computed);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  small, .small {
    font-size: 65%;
    font-weight: normal;
    line-height: 1;
    color: #777777;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  small, .small {
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    color: #777777;
  }
}

h1, .h1 {
  font-size: 48px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 21px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 16px;
}


@media (min-width: 768px) {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
  }
}

.sidebar-nav, .panel-body {
  > {
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-top: 0;
    }
  }
}

p {
  max-width: 800px;
  margin: 0 0 24px;
  font-weight: 200;
  line-height: 24px;
  &.text-center {
    margin-left: auto;
    margin-right: auto;
  }
}

.lead {
  max-width: 1000px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

small, .small {
  font-size: 75%;
}

mark, .mark {
  background-color: $asu-state-warning-bg;
}

@include text-emphasis-variant('.text-yellow', $asu-yellow);

@include text-emphasis-variant('.text-green', $asu-green);

@include text-emphasis-variant('.text-primary', $asu-brand-primary);

@include text-emphasis-variant('.text-success', $asu-state-success-text);

@include text-emphasis-variant('.text-info', $asu-state-info-text);

@include text-emphasis-variant('.text-warning', $asu-state-warning-text);

@include text-emphasis-variant('.text-danger', $asu-state-danger-text);

@include bg-variant('.bg-primary', $asu-brand-primary);

@include bg-variant('.bg-success', $asu-state-success-bg);

@include bg-variant('.bg-info', $asu-state-info-bg);

@include bg-variant('.bg-warning', $asu-state-warning-bg);

@include bg-variant('.bg-danger', $asu-state-danger-bg);

.page-header {
  padding-bottom: 11px;
  margin: 0 0 ($asu-line-height-computed);
}

ul, ol {
  margin-bottom: ($asu-line-height-computed);
}

dl {
  margin-bottom: ($asu-line-height-computed);
}

dt, dd {
  line-height: ($asu-line-height-base);
}

blockquote {
  padding: ($asu-line-height-computed / 2) ($asu-line-height-computed);
  margin: 0 0 ($asu-line-height-computed);
  font-size: 20px;

  footer, small, .small {
    line-height: $asu-line-height-base;
  }
}

address {
  font-weight: 200;
  margin-bottom: ($asu-line-height-computed);
  line-height: $asu-line-height-base;

  strong {
    font-weight: normal;
  }
}

kbd {
  border-radius: $asu-border-radius-base;
}

pre {
  padding: 11.5px;
  margin: 0 0 ($asu-line-height-computed / 2);
  font-size: 15px;
  line-height: $asu-line-height-base;
}

.table {
  margin-bottom: $asu-line-height-base;

  > {
    thead, tbody, tfoot {
      > tr > {
        th, td {
          line-height: $asu-line-height-base;
          border-top: 1px solid $asu-gray-lighter;
        }
      }
    }

    thead > tr > th {
      border-bottom: 2px solid $asu-gray-lighter;
    }

    tbody + tbody {
      border-top: 2px solid $asu-gray-lighter;
    }
  }
}

.table-bordered {
  border: 1px solid $asu-gray-lighter;

  > {
    thead, tbody, tfoot {
      > tr > {
        th, td {
          border: 1px solid $asu-gray-lighter;
        }
      }
    }
  }
}

.table-striped > tbody > tr:nth-child(odd) > {
  td, th {
    background-color: $asu-gray-lightest;
  }
}

@include table-row-variant('success', $asu-state-success-bg);
@include table-row-variant('info', $asu-state-info-bg);
@include table-row-variant('warning', $asu-state-warning-bg);
@include table-row-variant('danger', $asu-state-danger-bg);

.table-responsive {
  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
    border: 1px solid $asu-gray-lighter;
  }
}

::-webkit-input-placeholder {
  font-weight: 200;
  color: #7f7f7f;
}

:-moz-placeholder {

  font-weight: 200;
  color: #7f7f7f;
}

::-moz-placeholder {

  font-weight: 200;
  color: #7f7f7f;
}

:-ms-input-placeholder {
  font-weight: 200;
  color: #7f7f7f;
}

legend {
  margin-bottom: $asu-line-height-computed;
  font-size: $asu-line-height-computed;
}

label {
  font-weight: normal;
  font-size: 14px;
}

output {
  font-size: 16px;
  line-height: $asu-line-height-base;
  color: $asu-gray-dark;
}

.form-control {
  height: 38px; 
  font-size: 16px; 
  font-weight: 200; 
  line-height: $asu-line-height-base; 
  color: $asu-gray-dark;
  border: 1px solid $asu-gray;
  @include box-shadow(inset 1px 2px 9px rgba(213, 213, 213, 0.5));
}

.form-control:focus {
  border-color: #038dd5; 
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(3, 141, 213, 0.6));
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 38px; 
  // IE8+ misaligns the text within date inputs, so we reset
  line-height: $asu-line-height-base #{\0};

  &.input-sm {
    line-height: $asu-input-height-small;
  }
  &.input-lg {
    line-height: $asu-input-height-large;
  } 
}

.radio, .checkbox {
  min-height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;

  .inline {
    display: inline-block;
    margin-right: 20px;
  }
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.

@include input-size(
  '.input-sm', 
  $asu-input-height-small, 
  $asu-padding-small-vertical, 
  $asu-padding-small-horizontal, 
  $asu-font-size-small, 
  $asu-line-height-small, 
  $asu-border-radius-small);

@include input-size(
  '.input-lg', 
  $asu-input-height-large, 
  $asu-padding-large-vertical, 
  $asu-padding-large-horizontal, 
  $asu-font-size-large, 
  $asu-line-height-large, 
  $asu-border-radius-large);

.has-feedback {
  .form-control {
    padding-right: 47.5px;
  }
}

.form-control-feedback {
  top: 29px;
  width: 38px;
  height: 38px;
  line-height: 38px;
}

.input-lg + .form-control-feedback {
  width: $asu-input-height-large;
  height: $asu-input-height-large;
  line-height: $asu-input-height-large;
}
.input-sm + .form-control-feedback {
  width: $asu-input-height-small;
  height: $asu-input-height-small;
  line-height: $asu-input-height-small;
}

// Feedback states
.has-success {
  @include form-control-validation(
    $asu-state-success-text, 
    $asu-state-success-text, 
    $asu-state-success-bg);
}
.has-warning {
  @include form-control-validation(
    $asu-state-warning-text, 
    $asu-state-warning-text, 
    $asu-state-warning-bg);
}
.has-error {
  @include form-control-validation(
    $asu-state-danger-text, 
    $asu-state-danger-text, 
    $asu-state-danger-bg);
}

.help-block {
  color: #6a6a6a;
}

.form-horizontal {
  .radio, .checkbox {
    min-height: 31px;
  }
}
.form-horizontal .form-group-lg .control-label { 
  @media (min-width: 768px) { 
    padding-top: 16.96px;
  }
}

//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  @include button-size(
    $asu-padding-base-vertical, 
    $asu-padding-base-horizontal, 
    $asu-font-size-base, 
    $asu-line-height-base, 
    $asu-border-radius-base);

  &,
  &:active,
  &.active {
    &:focus {
      outline: 0; 
      outline-offset: none;
    }
  }

  &:hover,
  &:focus {
    color: $asu-btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant(
    $asu-btn-default-color, 
    $asu-btn-default-bg, 
    $asu-btn-default-border);
}
.btn-primary {
  @include button-variant(
    $asu-btn-primary-color, 
    $asu-btn-primary-bg, 
    $asu-btn-primary-border);
}

.btn-secondary {
  @include button-variant(
    $asu-btn-secondary-color, 
    $asu-btn-secondary-bg, 
    $asu-btn-secondary-border);
}

.btn-gold {
  @include button-variant(
    $asu-btn-gold-color, 
    $asu-btn-gold-bg, 
    $asu-btn-gold-border);
}

.btn-blue {
  @include button-variant(
    $asu-btn-blue-color, 
    $asu-btn-blue-bg, 
    $asu-btn-blue-border);
}

// Success appears as green
.btn-success {
  @include button-variant(
    $asu-btn-success-color, 
    $asu-btn-success-bg, 
    $asu-btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant(
    $asu-btn-info-color, 
    $asu-btn-info-bg, 
    $asu-btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant(
    $asu-btn-warning-color, 
    $asu-btn-warning-bg, 
    $asu-btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant(
    $asu-btn-danger-color, 
    $asu-btn-danger-bg, 
    $asu-btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $asu-link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $asu-link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $asu-btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size(
    $asu-padding-large-vertical,
    $asu-padding-large-horizontal, 
    $asu-font-size-large, 
    $asu-line-height-large, 
    $asu-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size(
    $asu-padding-small-vertical, 
    $asu-padding-small-horizontal, 
    $asu-font-size-small, 
    $asu-line-height-small, 
    $asu-border-radius-small);
}
.btn-xs {
  @include button-size(
    $asu-padding-xs-vertical, 
    $asu-padding-xs-horizontal, 
    $asu-font-size-small, 
    $asu-line-height-small, 
    $asu-border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 15px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

//== Dropdowns
.caret {
  margin-left: 0;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.dropdown-menu {
  max-height: 400px;
  overflow:auto;
  font-size: $asu-font-size-base;

   .divider { 
    margin: 11px 0; 
  }

  > li > a { 
    border-bottom: 0; 
    line-height: $asu-line-height-base; 

    :hover, :focus {
      border-bottom: 0;
    }
  }

  > .active > a {
    &, &:hover, &:focus {
      border-bottom: 0;
      background-color: $asu-brand-primary;
    }
  }
}

.dropdown-header {
  font-size: $asu-font-size-small;
  line-height: $asu-line-height-base;
}

.dropup, .navbar-fixed-bottom .dropdown {
  .caret {
    border-bottom: 5px solid;
  }
}

.input-group-addon {
  padding: $asu-padding-base-vertical $asu-padding-base-horizontal;
  font-size: $asu-font-size-medium;
  color: $asu-gray-dark;
  border: 1px solid $asu-gray;
}

// TODO probably a better way to write this
.input-group-addon.input-sm, .form-horizontal .form-group-sm .input-group-addon.form-control,
.input-group-sm > .input-group-addon, 
.input-group-sm > .input-group-btn > .input-group-addon.btn { 
  padding: $asu-padding-small-vertical $asu-padding-small-horizontal;
  font-size: $asu-font-size-small;
  border-radius: $asu-border-radius-base;
}

// TODO probably a better way to write this
.input-group-addon.input-lg, .form-horizontal .form-group-lg .input-group-addon.form-control, 
.input-group-lg > .input-group-addon, 
.input-group-lg > .input-group-btn > .input-group-addon.btn { 
  padding: $asu-padding-large-vertical $asu-padding-large-horizontal;
  font-size: $asu-font-size-large;
  border-radius: $asu-border-radius-base;
}

.input-group-btn > .btn { 
  height: 38px;
}

.nav > li > a { 
  border-bottom: 0px;
}

.nav .open > a {
  &, &:hover, &:focus { 
    border-color: $asu-brand-primary;
  }
}

.nav .nav-divider { 
  margin: 11px 0;
}

.nav-tabs > li {
  border-top: 5px solid transparent;

  > a {
    margin-right: 0;
    line-height:inherit;
    border: none;
    border-radius: 0;
  }

  &:hover, &.active {
    border-top: 5px solid $asu-brand-primary;

    > a {
      border-top-color: transparent;
    }
  }

  > a {
    color: #a7a7a7;
    line-height: $asu-line-height-base;
    border: 1px solid #d7d7d7;
    border-bottom-color: transparent;
    border-radius: 0;
  }

  &.active > a {
    &, &:hover, &:focus {
      color: $asu-brand-primary;
    }
  }
}

.nav-pills > li.active > a {
  &, &:hover, &:focus {
    background-color: $asu-brand-primary;
  }
}

.nav-justified, .nav-tabs.nav-justified, .alterna-tabs.nav-justified { 
  width: 100%; 

  > li {
    float: none;

    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

.nav-tabs-justified, .nav-tabs.nav-justified, .alterna-tabs.nav-justified {  
  border-bottom: 0;

  > li > a {
    margin-right: 0;
    border-radius: 4px;
  }

  > .active > a {
    &, :hover, &:focus {
      border: 1px solid #ddd;
    }
  }

  @media (min-width: 768px) {
    > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }

    > .active > a {
      &, :hover, &:focus {
        border-bottom-color: white;
      }
    }
  }
}

.tab-content {
  padding: 24px;
}

.navbar {
  margin-bottom: 0;
}

.container, .container-fluid {
  > {
    .navbar-header, .navbar-collapse {
      margin-right: 0;
      margin-left: 0;

      @media (min-width: 768px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}


.navbar-brand {
  padding: ($asu-padding-large-vertical + 1) 15px;
  font-size: $asu-font-size-large;
  border-bottom: 0;

  &:focus, &:hover {
    border-bottom: 0;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.navbar-nav { 
  margin: 6.5px -15px; 

  @media (min-width: $asu-screen-md) {
    float:left;
    margin:0;
  }
}

.navbar-nav > li > a { 
  line-height: $asu-line-height-computed;
}

.navbar-nav .open .dropdown-menu {
  > li > a, 
  .dropdown-header {
    @media (max-width: 991px) {
      white-space: normal;
      padding: 0;    
    }
  }
  > li > a { 
    @media (max-width: $asu-screen-sm) {
      line-height: inherit;   
    }
  }
}

.navbar-nav > li > a {
  @media (min-width: $asu-screen-sm) {
    padding-top: 13px; 
    padding-bottom: 13px; 
  }
}

.navbar-form {
  margin-top: $asu-padding-base-vertical;
  margin-bottom: $asu-padding-base-vertical;
}

.navbar-btn {
  margin-top: $asu-padding-base-vertical;
  margin-bottom: $asu-padding-base-vertical;

  &.btn-sm, .btn-group-sm > &.btn {
    margin-top: 8.5px;
    margin-bottom: 8.5px;
  }
}

.navbar-text {
  margin-top: 13px;
  margin-bottom: 13px;
}

// == breadcrumb
.breadcrumb {
  padding: 0 0;
  margin-top: $asu-padding-xlarge-vertical;
  margin-bottom: (2 * $asu-padding-xlarge-vertical);
  font-size: $asu-font-size-small;
  background-color: transparent;

  > li + li:before {
    color: #828282;
  }  

  > li > a {
    border-bottom: 0;
  }

  > .active {
    color: #828282;
  }
}

.pagination {
  margin: $asu-padding-xlarge-vertical 0;

  > li > {
    a, span {
      padding: 6px 19px;
      line-height: $asu-line-height-base;
      color: $asu-brand-primary;

      &:hover, &:focus {
        color: $asu-link-hover-color;
      }
    }
  }

  > .active > a {
    &, &:hover, &:focus {
      background-color: $asu-brand-primary;
      border-color: $asu-brand-primary;
    }
  }
}


.pagincation-lg {
  > {
    li {
      a, span {
        padding: $asu-padding-large-vertical $asu-padding-large-horizontal;
        font-size: $asu-font-size-large;
      }

      &:first-child > {
        a, span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }

      &:last-child > {
        a, span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }
    }
  }
}

.pagination-sm {
  > {
    li {
      a, span {
        padding: 5px $asu-padding-small-horizontal;
        font-size: $asu-font-size-small; 
      }

       &:first-child > {
        a, span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }

      &:last-child > {
        a, span {
          border-bottom-left-radius: $asu-border-radius-base; 
          border-top-left-radius: $asu-border-radius-base; 
        }
      }
    }
  }
}


.pager {
  margin: $asu-padding-xlarge-vertical 0;
}

//== Labels

.label-primary {
  @include label-variant($asu-label-primary-bg);
}

.label-success {
  @include label-variant($asu-label-success-bg);
}

.label-info {
  @include label-variant($asu-label-info-bg);
}

.label-warning {
  @include label-variant($asu-label-warning-bg);
}

.label-danger {
  @include label-variant($asu-label-danger-bg);
}


//== Badges

.badge {
  font-size: $asu-font-size-small;

  a.list-group-item.active > &, 
  .nav-pills > .active > a > & {
    color: $asu-brand-primary;
  }
}

//== Jumbotron
.jumbotron {
  p {
    font-size: $asu-font-size-small;
  }

  .container & {
    border-radius: $asu-border-radius-base;
  }

  @media screen and (min-width: 768px) {
    h1, .h1 {
      font-size: $asu-font-size-h1;
    }
  }
}

//== Thumbnails
.thumbnail {
  margin-bottom: $asu-padding-xlarge-vertical;
  line-height: $asu-line-height-base;

  .captions {
    color: #2a2a2a;
  }
}
 a.thumbnail {
    &:hover, &:focus, &.active {
      border-color: $asu-brand-primary;
    }
  }

//== Alerts

.alert {
  margin-bottom: $asu-padding-xlarge-vertical; 
}

.alert-success {
  @include alert-variant(
    $asu-alert-success-bg, 
    $asu-alert-success-border, 
    $asu-alert-success-text);
}
.alert-info {
  @include alert-variant(
    $asu-alert-info-bg, 
    $asu-alert-info-border, 
    $asu-alert-info-text);
}
.alert-warning {
  @include alert-variant(
    $asu-alert-warning-bg, 
    $asu-alert-warning-border, 
    $asu-alert-warning-text);
}
.alert-danger {
  @include alert-variant(
    $asu-alert-danger-bg, 
    $asu-alert-danger-border, 
    $asu-alert-danger-text);
}


//== Progress Bars
.progress {
  height: $asu-padding-xlarge-vertical;
  margin-bottom: $asu-padding-xlarge-vertical;
}

.progress-bar {
  font-size: $asu-font-size-small;
  line-height: $asu-line-height-computed;
  background-color: $asu-brand-primary;
}

.progress-bar-success {
  background-color: $asu-state-success-text;
}

.progress-bar-info  {
  background-color: $asu-state-info-text;
}

.progress-bar-warning  {
  background-color: $asu-state-warning-text;
}

.progress-bar-danger  {
  background-color: $asu-state-danger-text;
}

//== List groups
.list-group-item {
  padding: 10px 5px;
  font-weight: normal;
  border: none;
  border-top: 1px solid #d7d7d7;

  &:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  &:last-child {
    border-top-top-radius: 0;
    border-top-bottom-radius: 0;
  }

  &.active {
    &, &:hover, &:focus {
      color: $asu-brand-primary;
      background-color: white;
      border-color: #d7d7d7;
      font-weight: bold;

      .list-group-item-text {
        color: white;
      }
    }
  }
}

a.list-group-item {
  color: $asu-brand-primary;
  border-bottom: 0;

  .list-group-item-heading {
    color: $asu-brand-primary;
  }

  &:hover, &:focus {
    color: $asu-brand-primary;
    font-weight: bold;
  }
}

@include list-group-item-variant(success, 
  $asu-state-success-bg, 
  $asu-state-success-text);
@include list-group-item-variant(info, 
  $asu-state-info-bg, 
  $asu-state-info-text);
@include list-group-item-variant(warning, 
  $asu-state-warning-bg, 
  $asu-state-warning-text);
@include list-group-item-variant(danger, 
  $asu-state-danger-bg, 
  $asu-state-danger-text);

//== Panels
.panel {
  margin-bottom: $asu-padding-xlarge-vertical;
  background-color: #fbfbfb;
  border: 1px solid #d7d7d7;
}

.panel-body {
  padding: 30px 20px;
}

.panel-title {
  font-size: 18px;
}

.panel > .panel-body + {
  .table, .table-responsive {
    border-top: 1px solid $asu-gray-lighter;
  }
}

.panel-group {
  margin-bottom: $asu-padding-xlarge-vertical;
}

// Contextual variations
.panel-primary {
  @include panel-variant(
    $asu-panel-primary-border, 
    $asu-panel-primary-text, 
    $asu-panel-primary-heading-bg, 
    $asu-panel-primary-border);
}
.panel-success {
  @include panel-variant(
    $asu-panel-success-border, 
    $asu-panel-success-text, 
    $asu-panel-success-heading-bg, 
    $asu-panel-success-border);
}
.panel-info {
  @include panel-variant(
    $asu-panel-info-border, 
    $asu-panel-info-text, 
    $asu-panel-info-heading-bg, 
    $asu-panel-info-border);
}
.panel-warning {
  @include panel-variant(
    $asu-panel-warning-border, 
    $asu-panel-warning-text,
    $asu-panel-warning-heading-bg, 
    $asu-panel-warning-border);
}
.panel-danger {
  @include panel-variant(
    $asu-panel-danger-border, 
    $asu-panel-danger-text, 
    $asu-panel-danger-heading-bg, 
    $asu-panel-danger-border);
}

//== Wells
.well-lg {
  border-radius: $asu-border-radius-base;
}

.well-sm {
  border-radius: $asu-border-radius-base;
}

.close {
  font-size: 24px;
  font-weight: normal;
}

//== Modals 
.modal-content {
  border-radius: $asu-border-radius-base;
}

.modal-header {
  min-height: 16.44px;
}

.modal-title {
  line-height: $asu-line-height-base;
}

//== Tooltip
.tooltip {
  font-size: $asu-font-size-small; 
}

//== Popovers
.popover {
  border-radius: $asu-border-radius-base;
}

.popover-title {
  font-size: $asu-font-size-medium;
  border-radius: ($asu-border-radius-base - 1) ($asu-border-radius-base - 1) 0 0;
}

@import "font_awesome/font-awesome";

//== Custom Fonts

/*
 * Custom Fonts
 */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic-webfont.eot");
  src: url("../fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/Roboto-Italic-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#Roboto") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic-webfont.eot");
  src: url("../fonts/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic-webfont.woff") format("woff"), url("../fonts/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic-webfont.svg#Roboto") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#Roboto") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic-webfont.eot");
  src: url("../fonts/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic-webfont.woff") format("woff"), url("../fonts/Roboto-LightItalic-webfont.ttf") format("truetype"), url("../fonts/Roboto-LightItalic-webfont.svg#Roboto") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black-webfont.eot");
  src: url("../fonts/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black-webfont.woff") format("woff"), url("../fonts/Roboto-Black-webfont.ttf") format("truetype"), url("../fonts/Roboto-Black-webfont.svg#Roboto") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic-webfont.eot");
  src: url("../fonts/Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BlackItalic-webfont.woff") format("woff"), url("../fonts/Roboto-BlackItalic-webfont.ttf") format("truetype"), url("../fonts/Roboto-BlackItalic-webfont.svg#Roboto") format("svg");
  font-weight: 900;
  font-style: italic;
}

//== Custom CSS
.space-top-0 {
  margin-top: 0;
}

.space-top-sm {
  margin-top: 12px;
}

.space-top-md {
  margin-top: 24px;
}

.space-top-lg {
  margin-top: 36px;
}

.space-top-xl {
  margin-top: 48px;
}

.space-bot-0 {
  margin-bottom: 0;
}

.space-bot-sm {
  margin-bottom: 12px;
}

.space-bot-md {
  margin-bottom: 24px;
}

.space-bot-lg {
  margin-bottom: 36px;
}

.space-bot-xl {
  margin-bottom: 48px;
}

.space-bot-form {
  margin-bottom: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.pad-top-0 {
  padding-top: 0;
}

.pad-top-sm {
  padding-top: 12px;
}

.pad-top-md {
  padding-top: 24px;
}

.pad-top-lg {
  padding-top: 36px;
}

.pad-top-xl {
  padding-top: 48px;
}

.pad-bot-0 {
  padding-bottom: 0;
}

.pad-bot-sm {
  padding-bottom: 12px;
}

.pad-bot-md {
  padding-bottom: 24px;
}

.pad-bot-lg {
  padding-bottom: 36px;
}

.pad-bot-xl {
  padding-bottom: 48px;
}

.pad-zero {
  padding: 0 !important;
}

.navbar-ws {
  background-color: #353535;
  border: 0;
  border-radius: 0;
}
.navbar-ws .container {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {

  .navbar-ws .container {
    width: 100%;
  }
}
.navbar-ws .navbar-nav > li > a {
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #ededed;
}
.navbar-ws .navbar-nav > li > a:hover, .navbar-ws .navbar-nav > li > a:focus {
  color: #ffb310;
  background-color: black;
}
@media (min-width: 1200px) {

  .navbar-ws .navbar-nav > li > a {
    padding: 20px 25px;
  }
}
.navbar-ws .navbar-nav > .active > a, .navbar-ws .navbar-nav > .active > a:hover, .navbar-ws .navbar-nav > .active > a:focus {
  color: #ededed;
  background-color: #1e1e1e;
}
.navbar-ws .navbar-nav > .disabled > a, .navbar-ws .navbar-nav > .disabled > a:hover, .navbar-ws .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-ws .navbar-brand {
  width: calc(100% - 60px);
  height: auto;
  padding-right: 0;
  overflow: hidden;
  font-size: 16px;
  color: #ededed;
}
.navbar-ws .navbar-brand:hover, .navbar-ws .navbar-brand:focus {
  color: #ededed;
}
.navbar-ws .navbar-text {
  color: #777777;
}
.navbar-ws .navbar-toggle {
  border: 0;
}
.navbar-ws .navbar-toggle:hover, .navbar-ws .navbar-toggle:focus {
  background-color: black;
}
.navbar-ws .navbar-toggle:hover .icon-bar, .navbar-ws .navbar-toggle:focus .icon-bar {
  background-color: #ffb310;
}
.navbar-ws .navbar-toggle .icon-bar {
  background-color: #ededed;
}
.navbar-ws .navbar-collapse,
.navbar-ws .navbar-form {
  border-color: black;
}
.navbar-ws .navbar-nav > .open > a, .navbar-ws .navbar-nav > .open > a:hover, .navbar-ws .navbar-nav > .open > a:focus {
  background-color: black;
  color: #ffb310;
}
.navbar-ws .navbar-link {
  color: #777777;
}
.navbar-ws .navbar-link:hover {
  color: #333333;
}
.navbar-ws .btn-link {
  color: #777777;
}
.navbar-ws .btn-link:hover, .navbar-ws .btn-link:focus {
  color: #333333;
}
.navbar-ws .btn-link[disabled]:hover, .navbar-ws .btn-link[disabled]:focus, fieldset[disabled] .navbar-ws .btn-link:hover, fieldset[disabled] .navbar-ws .btn-link:focus {
  color: #cccccc;
}
.navbar-ws .dropdown-menu {
  position: relative;
  display: block;
  width: 100%;
  min-width: 160px;
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #1f1f1f;
  border: 1px solid black;
  border-color: transparent;
  border-radius: 4px;
}
@media (min-width: 992px) {

  .navbar-ws .dropdown-menu {
    position: absolute;
    width: auto;
  }
}
.navbar-ws .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: black;
}
.navbar-ws .dropdown-menu > li > a {
  padding: 9px 25px 10px 25px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  color: #ededed;
}
.navbar-ws .open > .dropdown-menu {
  max-height: 2000px;
  padding: 10px 0;
  border-color: black;
}
.navbar-ws .dropdown-menu > li > a:hover, .navbar-ws .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ededed;
  background-color: black;
}
.navbar-ws .dropdown-menu > .active > a, .navbar-ws .dropdown-menu > .active > a:hover, .navbar-ws .dropdown-menu > .active > a:focus {
  color: #ededed;
  text-decoration: none;
  outline: 0;
  background-color: black;
}

.calendar-group:before, .calendar-group:after {
  content: " ";
  display: table;
}
.calendar-group:after {
  clear: both;
}

.calendar-date {
  width: 125px;
  display: block;
  float: left;
  padding: 10px;
  margin: 0 30px 24px 0;
  color: #4f5557;
  text-transform: uppercase;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #a1a1a1;
  border-radius: 4px;
  cursor: default;
}
.calendar-date:before, .calendar-date:after {
  content: " ";
  display: table;
}
.calendar-date:after {
  clear: both;
}
.calendar-date:hover {
  border: 1px solid #a30046;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.calendar-date.last {
  margin-right: 0;
}
.calendar-date + .popover {
  white-space: nowrap;
}
.calendar-date .weekday {
  float: left;
  padding: 3px 7px;
  margin-bottom: 5px;
  font-size: 11px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #afa593;
  border-radius: 4px;
}
.calendar-date .month {
  float: left;
  padding: 3px 7px;
  font-size: 13px;
  line-height: 1;
}
.calendar-date .date {
  width: 60px;
  float: right;
  font-size: 50px;
  line-height: .9;
  font-weight: 200;
}

.sidebar-nav {
  position: relative;
  padding: 30px;
  margin-bottom: 24px;
  border-top: 8px solid #a30046;
}
.sidebar-nav:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}
.sidebar-nav :last-child {
  margin-bottom: 0;
}
.sidebar-nav.affix {
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {

  .sidebar-nav.affix {
    position: fixed;
    top: 24px;
    width: 293px;
  }
}
@media (min-width: 1200px) {

  .sidebar-nav.affix {
    width: 360px;
  }
}

.radio,
.checkbox {
  margin-bottom: 12px;
}
.radio .outer-wrap,
.checkbox .outer-wrap {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #b0b0b0;
}
.radio .outer-wrap,
.checkbox .outer-wrap {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.radio label,
.checkbox label {
  padding-left: 0;
  font-size: 16px;
  font-weight: 200;
}
.radio .fa-circle,
.radio .fa-check,
.checkbox .fa-circle,
.checkbox .fa-check {
  position: absolute;
  font-size: 23px;
  color: white;
}
.radio .fa-circle,
.checkbox .fa-circle {
  top: 3px;
  left: 4px;
}
.radio .fa-check,
.checkbox .fa-check {
  top: 3px;
  left: 3px;
}
@media (min-width: 1200px) {

  .radio .fa-circle,
  .radio .fa-check,
  .checkbox .fa-circle,
  .checkbox .fa-check {
    top: 4px;
  }
}

.radio input[type="radio"] {
  display: none;
}
.radio input[type="radio"]:checked + .outer-wrap > .fa-circle {
  color: #505050;
}
.radio .outer-wrap,
.radio .fa-circle {
  border-radius: 50%;
}

.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + .outer-wrap > .fa-check {
  color: #505050;
}
.checkbox .outer-wrap {
  border-radius: 4px;
}

input[type="radio"][disabled] + .outer-wrap,
input[type="radio"][disabled] + .outer-wrap > .fa-circle, input[type="radio"].disabled + .outer-wrap,
input[type="radio"].disabled + .outer-wrap > .fa-circle {
  cursor: not-allowed;
  opacity: .5;
}

input[type="checkbox"][disabled] + .outer-wrap,
input[type="checkbox"][disabled] + .outer-wrap > .fa-check, input[type="checkbox"].disabled + .outer-wrap,
input[type="checkbox"].disabled + .outer-wrap > .fa-check {
  cursor: not-allowed;
  opacity: .5;
}

.hero {
  background-color: #f1f1f1;
  padding: 30px 0 60px 0;
}
.hero h2, .hero .h2 {
  font-size: 38px;
  letter-spacing: -1px;
  word-wrap: break-word;
}
.hero img {
  border: 1px solid #dcdcdc;
}

.hero-bg-img {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-bg-img h2, .hero-bg-img .h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 50px;
  line-height: 1;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.hero-bg-img p {
  max-width: 900px;
  color: white;
  font-size: 24px;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.hero-bg-img .cite {
  margin-bottom: 1.3em;
  color: white;
  font-weight: bold;
}
.hero-bg-img.hero-programs {
  background-image: url(../img/hero-background-1.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-1.jpg', sizingMethod='scale')";
}
.hero-bg-img.hero-action-call {
  background-image: url(../img/hero-background-1.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-1.jpg', sizingMethod='scale')";
}
.hero-bg-img.hero-degrees {
  padding: 110px 0 20px 0;
  background-image: url(../img/hero-background-2.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/hero-background-2.jpg', sizingMethod='scale')";
}

.hero-text-only {
  text-align: center;
}
.hero-text-only p {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-text-only-dark {
  background-color: #353535;
  text-align: center;
}
.hero-text-only-dark h2 {
  color: white;
}
.hero-text-only-dark p {
  color: white;
}

@media (min-width: 768px) {

  .hero {
    padding-top: 90px;
  }

  .hero h2, .hero .h2 {
    font-size: 48px;
  }


  .hero-bg-img h2, .hero-bg-img .h2 {
    font-size: 60px;
  }
}
.profile {
  margin-bottom: 24px;
  border: 1px solid #d7d7d7;
}
.profile .profile-heading {
  padding: 40px 40px 14px 40px;
}
.profile .profile-pic {
  max-width: 200px;
}
.profile .profile-actions {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}
.profile .tab-content {
  padding: 40px 40px 14px 40px;
}
.profile .nav-tabs {
  padding-left: 40px;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 56.34%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer h1 {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
}
.footer h2 {
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: normal;
  color: #fff;
}
.footer address {
  color: #fff;
  margin-bottom: 0;
}
.footer .phone-link {
  color: #fff;
  border-bottom: 0;
}
.footer .contact-link {
  color: #a9a9a9;
  border-bottom: 1px dotted #a9a9a9;
}
.footer .contact-link:hover, .footer .contact-link:focus {
  color: #e9e9e9;
}
.footer ul, .footer ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer ul:before, .footer ul:after, .footer ol:before, .footer ol:after {
  content: " ";
  display: table;
}
.footer ul:after, .footer ol:after {
  clear: both;
}
.footer ul > li, .footer ol > li {
  position: relative;
  display: block;
}
.footer ul > li > a, .footer ol > li > a {
  position: relative;
  text-decoration: none;
}
.footer ul > li > a:hover, .footer ul > li > a:focus, .footer ol > li > a:hover, .footer ol > li > a:focus {
  text-decoration: none;
}
.footer .social-media {
  margin-bottom: 30px;
}
.footer .social-media > li {
  float: left;
}
.footer .social-media > li > a {
  margin-right: 10px;
  font-size: 38px;
  color: #a9a9a9;
  border-bottom: 0;
}
.footer .social-media > li > a:hover, .footer .social-media > li > a:focus {
  color: #e9e9e9;
}
.footer .social-media > li:last-child > a {
  margin-right: 0;
}
.footer .big-foot {
  padding-top: 40px;
  padding-bottom: 14px;
  background-color: #1e1e1e;
}
.footer .big-foot-nav > li {
  margin-bottom: 12px;
}
.footer .big-foot-nav > li > a {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
.footer .big-foot-nav > li > a:hover, .footer .big-foot-nav > li > a:focus {
  color: white;
}
.footer .little-foot {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e5e5e5;
}
.footer .little-foot-nav > li {
  float: left;
}
.footer .little-foot-nav > li > a {
  margin-right: 30px;
  color: #333;
  border-bottom: 0;
}
.footer .little-foot-nav > li > a:hover, .footer .little-foot-nav > li > a:focus {
  color: #595959;
}
.footer .little-foot-nav > li:last-child > a {
  margin-right: 0;
}
@media (max-width: 991px) {

  .footer h2 {
    cursor: pointer;
  }
}

.mega-menu.dropdown {
  position: static;
}
.mega-menu .dropdown-menu {
  position: static;
  width: 100%;
  margin-top: -1px;
}
.mega-menu .dropdown-title {
  display: block;
  clear: both;
  padding: 9px 10px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #ededed;
  border-bottom: 0;
  white-space: nowrap;
}
.mega-menu .row {
  margin-right: 0;
  margin-left: 0;
}
.mega-menu .vertical-border-right {
  border-right: 1px solid #414141;
}
@media (min-width: 992px) {

  .mega-menu .dropdown-menu {
    position: absolute;
    left: 50%;
    width: 940px;
    margin-left: -470px;
  }
}
@media (min-width: 1200px) {

  .mega-menu .dropdown-menu {
    width: 1140px;
    margin-left: -570px;
  }
}
.mega-menu .dropdown-menu > .row > .column > li > a {
  display: block;
  clear: both;
  padding: 9px 10px 10px 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  color: #ededed;
  border-bottom: 0;
  white-space: nowrap;
}
.mega-menu .dropdown-menu > .row > .column > li > a:hover, .mega-menu .dropdown-menu > .row > .column > li > a:focus {
  text-decoration: none;
  color: #ededed;
  background-color: black;
}
.mega-menu .dropdown-menu > .row > .column > .active > a, .mega-menu .dropdown-menu > .row > .column > .active > a:hover, .mega-menu .dropdown-menu > .row > .column > .active > a:focus {
  color: #ededed;
  text-decoration: none;
  outline: 0;
  background-color: black;
}

@media (max-width: 767px) {

  .responsive-table td,
  .responsive-table th {
    display: block;
  }

  .responsive-table > thead > tr > th,
  .responsive-table > thead > tr > td,
  .responsive-table > tbody > tr > th,
  .responsive-table > tbody > tr > td,
  .responsive-table > tfoot > tr > th,
  .responsive-table > tfoot > tr > td {
    display: block;
    width: 100%;
    float: left;
    clear: left;
    padding: 10px 15px;
    border-top: 0;
    border-bottom: 0;
  }

  .responsive-table > tbody > tr > td:first-child,
  .responsive-table > tfoot > tr > td:first-child {
    border-top: 1px solid #b7b7b7;
  }

  .responsive-table > tbody > tr:first-child > td:first-child,
  .responsive-table > tfoot > tr:first-child > td:first-child {
    border-top: 0;
  }

  .responsive-table > thead > tr > th:last-child {
    border-bottom: 2px solid #b7b7b7;
  }

  .responsive-table > thead > tr > th,
  .responsive-table > thead > tr > td,
  .responsive-table > tbody > tr > th,
  .responsive-table > tbody > tr > td,
  .responsive-table > tfoot > tr > th,
  .responsive-table > tfoot > tr > td {
    padding-top: 0;
  }

  .responsive-table > thead > tr > th:first-child,
  .responsive-table > thead > tr > td:first-child,
  .responsive-table > tbody > tr > th:first-child,
  .responsive-table > tbody > tr > td:first-child,
  .responsive-table > tfoot > tr > th:first-child,
  .responsive-table > tfoot > tr > td:first-child {
    padding-top: 15px;
  }

  .responsive-table > thead > tr > th:last-child,
  .responsive-table > thead > tr > td:last-child,
  .responsive-table > tbody > tr > th:last-child,
  .responsive-table > tbody > tr > td:last-child,
  .responsive-table > tfoot > tr > th:last-child,
  .responsive-table > tfoot > tr > td:last-child {
    padding-bottom: 15px;
  }
}
.gray-back {
  background-color: #f1f1f1;
  padding: 48px 0;
}

.inline-link-list {
  padding-left: 0;
  list-style: none;
}
.inline-link-list:before, .inline-link-list:after {
  content: " ";
  display: table;
}
.inline-link-list:after {
  clear: both;
}
.inline-link-list li {
  float: left;
}
.inline-link-list li:after {
  content: "|";
  font-weight: normal;
  margin: 0 5px;
}
.inline-link-list li:last-child:after {
  display: none;
}

.alterna-tabs > li {
  margin-right: 20px;
  border-bottom: 5px solid transparent;
  border-top: 0;
}
.alterna-tabs > li:last-child {
  margin-right: 0;
}
.alterna-tabs > li:hover, .alterna-tabs > li.active {
  color: #2a2a2a;
  border-bottom: 5px solid #a30046;
  border-top: 0;
}
.alterna-tabs > li:hover > a, .alterna-tabs > li.active > a {
  border-bottom-color: transparent;
}
.alterna-tabs > li:hover > a:hover, .alterna-tabs > li:hover > a:focus, .alterna-tabs > li.active > a:hover, .alterna-tabs > li.active > a:focus {
  background: none;
}
.alterna-tabs > li > a {
  padding-left: 0;
  padding-right: 0;
  color: #2a2a2a;
  line-height: 1.44;
  border: 0;
  border-bottom-color: transparent;
  border-radius: 0;
}
.alterna-tabs > li > a:last-child {
  margin-right: 0;
}
.alterna-tabs > li.active > a, .alterna-tabs > li.active > a:hover, .alterna-tabs > li.active > a:focus {
  color: #2a2a2a;
  background: none;
  border:none;
  border-bottom-color: transparent;
  cursor: default;
}

.campus-visit .panel-body {
  padding-bottom: 0;
}
.campus-visit .iframe-overlay {
  position: absolute;
  width: 100%;
  height: 225px;
  background: transparent;
}

.panel.explore-programs h3 {
  font-size: 30px;
}
.panel.explore-programs p {
  font-size: 14px;
  line-height: 20px;
}

a,
button {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar-ws .dropdown-menu {
  -webkit-perspective: 100;
  -moz-perspective: 100;
  perspective: 100;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.navbar-ws .open > .dropdown-menu {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}