//== Calendar Colors

.calendar-date {
  background-color: $ws-calendar-date-bg;
  border: 1px solid $ws-calendar-date-border;
  color: $ws-calendar-date-text;
  

  &:hover {
    @include box-shadow(0 0 10px $ws-calendar-date-hover-box-shadow);
    border: 1px solid $ws-calendar-date-hover-border;
  }

  .weekday {
    background-color: $ws-calendar-date-weekday-bg;
    border: 1px solid $ws-calendar-date-weekday-border;
  }
}
