//= Custom CSS
/**
 * This file only contains colors that are related to the look of the 
 * website!
 */

//== Theme
$page-background:           white;

//== ASU colors
$asu-red:                   #a30046;

//== Grays
$ws-darker-gray-2:          #1f1f1f;
$ws-darker-gray:            #333;
$ws-dark-gray:              #777;
$ws-light-gray:             #ccc;
$ws-lighter-gray:           #ededed;

//== Navbar
$ws-navbar-bg:              #353535 !default;
$ws-navbar-text:            $ws-lighter-gray !default;
$ws-navbar-focus-bg:        black   !default;
$ws-navbar-focus-text:      #ffb310 !default;
$ws-navbar-active-bg:       #1e1e1e !default;
$ws-navbar-active-text:     $ws-lighter-gray !default;
$ws-navbar-disabled-bg:     transparent !default;
$ws-navbar-disabled-text:   $ws-light-gray !default;

$ws-navbar-brand-text:                     $ws-lighter-gray !default;
$ws-navbar-brand-hover-text:               $ws-lighter-gray !default;
$ws-navbar-brand-text-text:                $ws-dark-gray !default;

$ws-navbar-toggle-focus-bg:                black !default;
$ws-navbar-toggle-focus-icon-bg:           $ws-navbar-focus-text !default; // #ffb310
$ws-navbar-toggle-icon-bg:                 $ws-lighter-gray !default; // #ededed

$ws-navbar-form-border:                    black !default;

$ws-navbar-nav-focus-bg:                   black !default;
$ws-navbar-nav-focus-text:                 $ws-navbar-focus-text !default;

$ws-navbar-link-text:                      $ws-dark-gray !default;
$ws-navbar-link-hover-text:                $ws-darker-gray !default;

$ws-navbar-btn-link-text:                  $ws-dark-gray !default;
$ws-navbar-btn-link-focus-text:            $ws-darker-gray !default;
$ws-navbar-btn-link-disabled-text:         $ws-light-gray !default;

$ws-navbar-dropdown-menu-bg:               $ws-darker-gray-2 !default;
$ws-navbar-dropdown-menu-border:           black !default;

$ws-navbar-dropdown-menu-link-text:        $ws-lighter-gray !default;
$ws-navbar-dropdown-menu-link-focus-text:  $ws-lighter-gray !default;
$ws-navbar-dropdown-menu-link-focus-bg:    black !default;

$ws-navbar-dropdown-divider-bg:            black !default;
$ws-navbar-dropdown-open-border:           black !default;

//== Sidebar Nav
$ws-sidebar-nav-border-top:                $asu-red !default;
$ws-sidebar-nav-border-other:              #e9e9e9;

//== Calendar
$ws-calendar-date-text:             #4f5557 !default;
$ws-calendar-date-bg:               #fafafa !default;
$ws-calendar-date-border:           #a1a1a1 !default;

$ws-calendar-date-hover-border:     $asu-red !default;
$ws-calendar-date-hover-box-shadow: rgba(0, 0, 0, 0.2) !default;

$ws-calendar-date-weekday-bg:       white !default;
$ws-calendar-date-weekday-border:   #afa593 !default;

//== Hero
$ws-hero-bg:                                 $ws-darker-gray-2 !default;
$ws-hero-img-border:                         #dcdcdc !default;
$ws-hero-dark-bg:                            #353535 !default;

//== Profile
$ws-profile-border:                          #d7d7d7 !default;

//== Footer 
$ws-footer-social-link-text:                 #a9a9a9 !default;
$ws-footer-social-link-focus-text:           #e9e9e9 !default;

$ws-big-foot-bg:                             #1e1e1e !default;
$ws-big-foot-nav-link-text:                  $ws-light-gray !default;
$ws-big-foot-nav-link-border:                $ws-light-gray !default;
$ws-big-foot-nav-link-focus-text:            white !default;

$ws-little-foot-bg:                          #e5e5e5 !default;
$ws-little-foot-focus-text:                  #595959 !default;

//== Mega Menu
$ws-mega-menu-drop-link-text:                $ws-lighter-gray !default;
$ws-mega-menu-drop-link-focus-text:          $ws-lighter-gray !default;
$ws-mega-menu-drop-link-focus-bg:            black !default;

$ws-mega-menu-drop-link-active-focus-text:   $ws-lighter-gray !default;
$ws-mega-menu-drop-link-active-focus-bg:     black !default;

$ws-dropdown-title-color:                    $ws-lighter-gray !default;

$ws-vertical-border-right-border:            #414141 !default;

//== Responsive Table 
$ws-responsive-table-border:                 #b7b7b7 !default;

//== Scaffolding
$ws-gray-back:                               #f1f1f1 !default;